<div class="sb-group sb-{{ theme }}">
  @for (button of displayButtons(); track button) {
    <share-button [button]="button"
                  [theme]="theme"
                  [url]="url"
                  [title]="title"
                  [description]="description"
                  [image]="image"
                  [tags]="tags"
                  [redirectUrl]="redirectUrl"
                  [showIcon]="showIcon"
                  [showText]="showText"
                  (opened)="opened.emit($event)"
                  [disabled]="disabled">
    </share-button>
  }
  @if (this.show() < selectedButtons().length) {
    <expand-button class="sb-button sb-{{theme}}"
                   [options]="options"
                   [(expand)]="expanded"/>
  }
</div>

