<ng-scrollbar>
  <header>
    <h1>Share Buttons Component</h1>
  </header>

  <doc-container>
    <section>
      <section-title>Overview</section-title>
      <p><code class="hljs" [textContent]="'<share-buttons>'"></code> is a component that displays a collection of share
        buttons.</p>
      <note icon="book">
        This component is available through the <code class="hljs">ngx-sharebuttons/buttons</code>package.
      </note>
    </section>

    <section>
      <section-title>Installation</section-title>
      <p>Install the following packages</p>

      <h4>NPM</h4>
      <hl-code [code]="'/public/code-examples/install-with-icons.bash' | codeFromUrl | async"/>
    </section>

    <section>
      <section-title>Import the styles</section-title>

      <p>Import share buttons theme in the global style
        <b>"app/src/style.scss"</b>
      </p>

      <hl-code [code]="'/public/code-examples/theme.scss' | codeFromUrl | async"/>

      <note>The default theme is optional, you can replace it with other theme or create your own theme from scratch,
        see the <a routerLink="/styling-guide">Styling Guide</a></note>

      <note icon="coffee">Don't forget to import the <b>FontAwesome</b> icons, see the <a routerLink="/icons">icons
        guide</a></note>
    </section>

    <section>
      <section-title>Basic Usage</section-title>

      <hl-code [code]="'/public/code-examples/share-buttons/basic-example.ts' | codeFromUrl | async"
               [languages]="['ts']"/>

      <code-switcher [code]="'/public/code-examples/share-buttons/example-1.html' | codeFromUrl | async"
                     [languages]="['html']"
                     class="center">
        <share-buttons show="11" description="Test me"/>
      </code-switcher>
    </section>

    <section>
      <section-title>Important Info</section-title>
      <shared-info/>
    </section>

    <section>
      <section-title>Lab</section-title>
      <lab component="share-buttons"></lab>
    </section>

    <section>
      <section-title>API</section-title>

      <table mat-table [dataSource]="dataSource">

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type</th>
          <td mat-cell *matCellDef="let row">
            <mat-chip-listbox>
              <mat-chip class="property" [class.property-input]="row.type==='input'"> {{ row.type }}</mat-chip>
            </mat-chip-listbox>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let row">
            <b>{{ row.name }}</b>
          </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description</th>
          <td mat-cell *matCellDef="let row"> {{ row.description }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </section>
  </doc-container>

  <footer></footer>
</ng-scrollbar>
