::ng-deep {
  code-switcher {
    .mat-slide-toggle-bar {
      background-color: rgba(0, 0, 0, 0.38) !important;
    }
    .mat-slide-toggle-thumb {
      background-color: #fafafa !important;
    }
  }
}

:host {
  display: block;
  width: 100%;
  perspective: 800px;
}

hl-code {
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
}

.switcher-header {
  display: flex;
  align-items: center;
}

h3 {
  flex: 1;
}

.toggle {
  color: var(--primary-color);
  fa-icon {
    margin: 0 7px;
  }
}

.flipper {
  transform-style: preserve-3d;
  transform: perspective(800px);
  width: 100%;
  transition: 0.6s;
  position: relative;
  min-height: 220px;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //position: relative;
  //top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  z-index: 1;
}

.front {
  transform: rotateY(0deg);
}

.back {
  z-index: 2;
  transform: rotateY(180deg);
  //position: absolute;
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
}

pre {
  margin: 0;
  width: 100%;
  code {
    margin: 0;
  }
}
