@import '../../../assets/style/variables';

:host {
  ::ng-deep {
    .page-title {
      min-height: 100vh;
    }
  }
}

h5 {
  text-align: center;
}

b {
  margin-right: 10px;
}

::ng-deep {
  home {
    h2, li {
      color: white;
    }
  }
}

ul {
  padding: 0;
  li {
    list-style-type: none;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    span {
      margin-left: 5px;
    }
  }
}

.page-content {
  color: white;
}

.sb-options {
  flex-wrap: wrap;
}

.sb-option {
  flex: 0 0 auto;
  width: 248px;
  margin: 1em;
  a {
    color: $font-color;
    width: 100%;
    fa-icon {
      color: $font-color;
    }
    i {
      font-weight: bold;
      margin-left: 0.5em;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  img, span {
    max-width: 100%;
    font-size: 3em;
    height: 82.5px;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


