<ng-scrollbar>
  <header>
    <h1>Angular Share Buttons</h1>

    <div class="page-content container home-container">
<!--      <badges/>-->

      <section>
        <div class="sb-options">
          <div class="sb-option">
            <a mat-raised-button routerLink="/share-buttons-component">
              <img src="assets/img/sharebuttons-component.svg"/>
              <h3>Share Buttons</h3>
            </a>
          </div>
          <div class="sb-option">
            <a mat-raised-button routerLink="/share-buttons-component">
              <img src="assets/img/sharebutton-component.svg"/>
              <h3>Single Share Button</h3>
            </a>
          </div>

          <div class="sb-option">
            <a mat-raised-button routerLink="/share-button-directive">
              <span><fa-icon [icon]="directiveIcon"/></span>
              <h3>Share Button Directive</h3>
            </a>
          </div>
        </div>
      </section>
    </div>

  </header>

</ng-scrollbar>
