<div class="switcher-header">
  <h3> {{ title }} </h3>
  <div class="toggle" fxLayout fxLayoutAlign="space-between center">
    <fa-icon [icon]="eyeIcon" [style.color]="flip[toggle].eyeColor" size="lg"></fa-icon>
    <mat-slide-toggle [(ngModel)]="toggle" color="primary">
      <fa-icon [icon]="codeIcon" [style.color]="flip[toggle].codeColor" size="lg"></fa-icon>
    </mat-slide-toggle>
  </div>
</div>
<div [@flip]="flip[toggle].state" class="flipper">
  <div class="demo front" [class.active]="!toggle">
    <ng-content></ng-content>
  </div>
  <div class="code back" [class.active]="toggle">
      <hl-code [code]="code" [style.position]="fill ? 'absolute' : 'relative'"></hl-code>
  </div>
</div>
