<button class="sb-wrapper"
        [shareButton]="button"
        [url]="url"
        [image]="image"
        [title]="title"
        [description]="description"
        [tags]="tags"
        [autoSetMeta]="autoSetMeta"
        (opened)="opened.emit($event)"
        (closed)="closed.emit($event)"
        [class.sb-show-icon]="showIcon"
        [class.sb-show-text]="showText"
        [style.fontSize.px]="(1 + size/20) * 14"
        [disabled]="disabled">

  <div class="sb-content">

    <div *ngIf="showIcon && ref.shareButton" class="sb-icon">
      <fa-icon [icon]="icon || ref.shareButton.icon" [fixedWidth]="true"></fa-icon>
    </div>

    <div *ngIf="showText && ref.shareButton" class="sb-text">
      {{ text || ref?.shareButton.text }}
    </div>

  </div>
</button>
