<mat-card role="region">
  <mat-card-content>
    <div class="lab-container" #parent>
      <button class="code-button" mat-mini-fab color="warn" (click)="showCode = !showCode">
        <mat-icon>code</mat-icon>
      </button>

      @if (showCode) {
        <hl-code [code]="getCode()" [languages]="['html']" [style.max-width.px]="parent.clientWidth"/>
      }

      <div class="lab-section">
        <div class="inputs-line horizontal">

          @if (component !== 'share-button') {
            <mat-form-field color="primary" appearance="fill">
              <mat-label>Include</mat-label>
              <mat-select placeholder="Include" [(ngModel)]="config.include" multiple>
                @for (button of config.allButtons; track button) {
                  <mat-option [value]="button">
                    {{ button }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field color="primary" appearance="fill">
              <mat-label>Exclude</mat-label>
              <mat-select placeholder="Exclude" [(ngModel)]="config.exclude" multiple>
                @for (button of config.allButtons; track button) {
                  <mat-option [value]="button">
                    {{ button }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <div>
              <mat-slider matTooltip="Number of buttons to display"
                          discrete
                          showTickMarks
                          step="1"
                          [max]="getMax()">
                <input matSliderThumb [(ngModel)]="config.show">
              </mat-slider>
            </div>
          }

          <div class="toggle-group horizontal">
            <mat-slide-toggle color="primary"
                              [(ngModel)]="config.showIcon"
                              [disabled]="!config.showText">
              Icon
            </mat-slide-toggle>
            <mat-slide-toggle color="primary"
                              [(ngModel)]="config.showText"
                              [disabled]="!config.showIcon">
              Text
            </mat-slide-toggle>
          </div>
        </div>
      </div>

      <div class="horizontal">

        <div class="lab-preview">

          @if (ready()) {
            <div class="preview">
              @switch (component) {
                @case ('share-button') {
                  <share-button [theme]="config.theme"
                                [button]="config.button"
                                [url]="config.url"
                                [showIcon]="config.showIcon"
                                [showText]="config.showText"
                                [tags]="config.tags"
                                [title]="config.title"
                                [description]="config.description"
                                [image]="config.image"
                                (opened)="onOpenedChanged($event)"/>
                }
                @case ('share-buttons') {
                  <share-buttons [theme]="config.theme"
                                 [include]="config.include"
                                 [exclude]="config.exclude"
                                 [show]="config.show"
                                 [url]="config.url"
                                 [showIcon]="config.showIcon"
                                 [showText]="config.showText"
                                 [tags]="config.tags"
                                 [title]="config.title"
                                 [description]="config.description"
                                 [image]="config.image"
                                 (opened)="onOpenedChanged($event)"/>
                }
              }
            </div>
          }

          <div class="lab-outputs">
            <mat-chip-listbox>
              <mat-chip color="primary" [class.changed]="openedChanged()"> Opened
                @if (opened) {
                  <span>: {{ opened | json }}</span>
                }
              </mat-chip>
            </mat-chip-listbox>
          </div>

        </div>
        <div class="lab-space-col"></div>

        <div class="vertical">

          @if (component === 'share-button') {
            <div class="lab-section">
              <mat-form-field color="primary" appearance="fill">
                <mat-label>Button</mat-label>
                <mat-select placeholder="Button" [(ngModel)]="config.button">
                  @for (button of config.allButtons; track button) {
                    <mat-option [value]="button">
                      {{ button }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          }

          <div class="lab-section">
            <mat-form-field color="primary" appearance="fill">
              <mat-label>Theme</mat-label>
              <mat-select placeholder="Theme"
                          [(ngModel)]="config.theme">
                @for (themeName of config.themes; track themeName) {
                  <mat-option [value]="themeName">{{ themeName }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field color="warn" appearance="fill">
              <mat-label>URL</mat-label>
              <input autocomplete="off"
                     matInput
                     [(ngModel)]="config.url"
                     [disabled]="component === 'share-button' && ['print'].includes(config.button)">
              <mat-hint>If empty! It uses the current page URL</mat-hint>
            </mat-form-field>
          </div>

          <div class="lab-section">
            <mat-form-field color="primary" appearance="fill">
              <mat-label>Title</mat-label>
              <input autocomplete="off"
                     matInput
                     [(ngModel)]="config.title"
                     [disabled]="component === 'share-button' && !['reddit', 'email'].includes(config.button)">
            </mat-form-field>

            <mat-form-field color="primary" appearance="fill">
              <mat-label>Description</mat-label>
              <input autocomplete="off"
                     matInput
                     [(ngModel)]="config.description"
                     [disabled]="component === 'share-button' && !['x', 'whatsapp', 'telegram', 'pinterest', 'sms', 'email', 'viber'].includes(config.button)">
            </mat-form-field>

            <mat-form-field color="primary" appearance="fill">
              <mat-label>Image</mat-label>
              <input autocomplete="off"
                     matInput
                     [(ngModel)]="config.image"
                     [disabled]="component === 'share-button' && config.button !== 'pinterest'">
            </mat-form-field>

            <mat-form-field color="primary" appearance="fill">
              <mat-label>Tags</mat-label>
              <input autocomplete="off" matInput
                     [(ngModel)]="config.tags"
                     [disabled]="component === 'share-button' && !['x', 'tumblr'].includes(config.button)">
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>
