<div class="lab-container">

  <button class="code-button" mat-mini-fab color="warn" (click)="showCode()">
    <mat-icon>code</mat-icon>
  </button>

  <div class="lab-section">

    <div class="inputs-line horizontal">

      <ng-template [ngIf]="component !== 'share-button'">
        <mat-form-field color="primary"appearance="fill">
          <mat-label>Include</mat-label>
          <mat-select placeholder="Include" [(ngModel)]="config.include" multiple>
            <mat-option *ngFor="let button of config.allButtons" [value]="button">
              {{ button }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field color="primary"appearance="fill">
          <mat-label>Exclude</mat-label>
          <mat-select placeholder="Exclude" [(ngModel)]="config.exclude" multiple>
            <mat-option *ngFor="let button of config.allButtons" [value]="button">
              {{ button }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-slider matTooltip="Number of buttons to display" [thumbLabel]="true" [max]="getMax()" [step]="1"
                    [(ngModel)]="config.show">
        </mat-slider>

      </ng-template>


      <mat-slider matTooltip="Button size" [thumbLabel]="true" [min]="-4" [max]="4" [step]="1"
                  [(ngModel)]="config.size">
      </mat-slider>

      <div class="toggle-group horizontal">
        <mat-slide-toggle color="primary" [(ngModel)]="config.showIcon" [disabled]="!config.showText">Icon
        </mat-slide-toggle>
        <mat-slide-toggle color="primary" [(ngModel)]="config.showText" [disabled]="!config.showIcon">Text
        </mat-slide-toggle>
      </div>
    </div>
  </div>

  <div class="horizontal">

    <div class="lab-preview">

      <div class="preview" [ngSwitch]="component">

        <ng-template [ngSwitchCase]="'share-button'">

          <share-button *ngIf="ready"
                        [theme]="config.theme"
                        [button]="config.button"
                        [url]="config.url"
                        [size]="config.size"
                        [showIcon]="config.showIcon"
                        [showText]="config.showText"
                        [tags]="config.tags"
                        [autoSetMeta]="config.autoSetMeta"
                        [title]="config.title"
                        [description]="config.description"
                        [image]="config.image"
                        (closed)="onClosedChanged($event)"
                        (opened)="onOpenedChanged($event)">
          </share-button>

        </ng-template>

        <ng-template [ngSwitchCase]="'share-buttons'">

          <share-buttons *ngIf="ready"
                         [theme]="config.theme"
                         [include]="config.include"
                         [exclude]="config.exclude"
                         [show]="config.show"
                         [url]="config.url"
                         [showIcon]="config.showIcon"
                         [showText]="config.showText"
                         [size]="config.size"
                         [tags]="config.tags"
                         [autoSetMeta]="config.autoSetMeta"
                         [title]="config.title"
                         [description]="config.description"
                         [image]="config.image"
                         (closed)="onClosedChanged($event)"
                         (opened)="onOpenedChanged($event)">
          </share-buttons>

        </ng-template>

      </div>

      <div class="lab-outputs">
        <mat-chip-list>
          <mat-chip color="danger" [class.changed]="closedChanged | async"> Closed
            <span *ngIf="closed">: {{ closed | json }}</span>
          </mat-chip>
          <mat-chip color="primary" [class.changed]="openedChanged | async"> Opened
            <span *ngIf="opened">: {{ opened | json }}</span>
          </mat-chip>
        </mat-chip-list>
      </div>

    </div>
    <div class="lab-space-col"></div>

    <div class="vertical">

      <div class="lab-section" *ngIf="component === 'share-button'">
        <mat-form-field color="primary"appearance="fill">
          <mat-label>Button</mat-label>
          <mat-select placeholder="Button" [(ngModel)]="config.button">
            <mat-option *ngFor="let button of config.allButtons" [value]="button">
              {{ button }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="lab-section">
        <mat-form-field color="primary"appearance="fill">
          <mat-label>Theme</mat-label>
          <mat-select placeholder="Theme" [(ngModel)]="config.theme">
            <mat-option *ngFor="let themeName of config.themes" [value]="themeName">
              {{ themeName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field color="primary" appearance="fill">
          <mat-label>URL</mat-label>
          <input autocomplete="off" matInput [(ngModel)]="config.url" [disabled]="component === 'share-button' && !['linkedin', 'reddit'].includes(config.button)">
          <mat-hint>If empty! It uses the current page URL</mat-hint>
        </mat-form-field>
      </div>

      <div class="lab-section">
        <div>
          <mat-slide-toggle class="auto-set-toggle" color="primary" [(ngModel)]="config.autoSetMeta">
            Auto set meta tags
          </mat-slide-toggle>
        </div>

        <mat-form-field color="primary" appearance="fill">
          <mat-label>Title</mat-label>
          <input autocomplete="off" matInput [(ngModel)]="config.title" [disabled]="component === 'share-button' && !['linkedin', 'reddit'].includes(config.button)">
        </mat-form-field>

        <mat-form-field color="primary" appearance="fill">
          <mat-label>Description</mat-label>
          <input autocomplete="off" matInput [(ngModel)]="config.description" [disabled]="component === 'share-button' && !['twitter', 'linkedin','whatsapp', 'telegram', 'pinterest'].includes(config.button)">
        </mat-form-field>

        <mat-form-field color="primary" appearance="fill">
          <mat-label>Image</mat-label>
          <input autocomplete="off" matInput [(ngModel)]="config.image" [disabled]="component === 'share-button' && config.button !== 'pinterest'">
        </mat-form-field>

        <mat-form-field color="primary" appearance="fill">
          <mat-label>Tags</mat-label>
          <input autocomplete="off" matInput [(ngModel)]="config.tags" [disabled]="component === 'share-button' && !['twitter', 'tumblr'].includes(config.button)">
        </mat-form-field>
      </div>
    </div>
  </div>

</div>
