.header {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}

.cover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  @media screen and (min-width: 460px) {
    flex-direction: row;
  }
}

.cover-angular {
  max-width: 220px;
  padding: 20px;
}

.cover-plus{
  display: flex;
  align-items: center;
  font-size: 3em;
}

.cover-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 1.5em;
  h1{
    margin: 3% 0;
  }
  .red {
    color: #E03237;
    text-shadow: 0 4px 5px rgba(#333, 0.3);
  }
}

.social-wrapper{
  @extend .animated, .jello;
  width: 300px;
  height: 200px;
  position: relative;
  margin:20px;
  &:hover img{
    opacity: 0.4;
  }
  img {
    position: absolute;
    width: 50px;
    transition: all ease .3s;
    &:hover{
      opacity: 1;
    }
  }
}

.fb-logo {
  left: calc(50% - 25px);
  top: 20px;
  z-index: 3;
}

.twtt-logo {
  left: 40px;
  top: 20px;
  transform: rotate(-10deg) scale(2);
  z-index: 4;
}

.in-logo {
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  transform: scale(3);
}
.pint-logo {
  left: 50%;
  bottom: 0;
  transform: scale(1.5);
  z-index:2;
}

.stumble-logo {
  right: 30px;
  top: 80px;
  transform: rotate(-20deg) scale(1.3);
  z-index: 5;
}

.google-logo {
  left: 40px;
  top: calc(50% - 25px);
  transform: rotate(-5deg) scale(1.2);
  z-index: 5;
}

.reddit-logo {
  left: 30px;
  bottom: 10px;
  z-index:5;
  transform: rotate(20deg) scale(1.5);
}

.tumblr-logo {
  right: 70px;
  top: 20px;
  transform: rotate(20deg) scale(1.4);
  z-index: 4;
}

