<ng-scrollbar shown="hover" [compact]="true">
  <header>
    <h1>Global Options</h1>
  </header>

  <div class="page-content container">

    <section>
      <section-title>Setting custom options</section-title>
      <p>To avoid setting the same options on each share component/directive, you can set your custom options that
        applies on all share buttons components across your app.</p>

      <p><b>Example</b></p>

      <hl-code [code]="code" [height]="400"></hl-code>

      <p>If you want to set the options globally while lazy loading the library, you can provide your custom config as
        <code class="hljs">SHARE_BUTTONS_CONFIG</code> value, this will set the defaults before the library is loaded.</p>
      <hl-code [code]="global"></hl-code>

      <p>Or you can set these config with the library using <code class="hljs">withConfig()</code> function, example:</p>
      <hl-code [code]="lazyLoad"></hl-code>
    </section>

    <section fxShow fxHide.lt-md="true">
      <h3>Available options:</h3>
      <mat-table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef fxFlex="130px"> Name</mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="130px">
            <b>{{row.name}}</b>
          </mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </section>

  </div>

  <footer></footer>
</ng-scrollbar>
