<section>
    <h2>Advanced usage</h2>
    <p>Sometimes you just want to add a single button, use the component <<code class="markup">share-button</code>> in
        this case.</p>

    <p>In this example, we will add a single twitter button, we will also add text and hashtags to the tweet (you can
        still use these inputs in <<code class="markup">share-buttons</code>></p>

    <!--TWITTER CODE-->
    <pre><code class="language-javascript">{{singleTwt}}</code></pre>

    <pre><code class="language-html">{{twitterUsage}}</code></pre>

    <!--TWITTER OUTPUT-->
    <h5><i class="fa fa-chevron-right" aria-hidden="true"></i> Output:</h5>
    <div class="output">
        <share-button class="single-button" [button]='twitterButton' [text]="defaultText" [hashtags]="hashtags"></share-button>
    </div>


    <p>When using share buttons for a list of links, where each link has its own title and featured image, we need to
        set the inputs
        <code class="markup">[text]</code> and <code class="markup">[image]</code> for <i>Pinterest</i> , because
        unlike other social media, <i>Pinterest</i> won't get it automatically from the <a href="http://ogp.me/">Open
            Graph</a> meta tags
    </p>

    <p>Again the inputs <code class="markup">[text]</code>, <code class="markup">[image]</code> and <code
            class="markup">[hashtags]</code> works the same in <<code class="markup">share-buttons</code>>, however in
    this example we will be using them in a single button.</p>

    <!--PINTEREST CODE-->
    <pre><code class="language-javascript">{{singlePin}}</code></pre>

    <pre><code class="language-html">{{pinUsage}}</code></pre>

    <!--PINTEREST OUTPUT-->
    <h5><i class="fa fa-chevron-right" aria-hidden="true"></i> Output:</h5>
    <div class="output">
        <share-button class="single-button" [button]='pinButton' [text]="defaultText" [image]="pinImage"></share-button>
    </div>

</section>