// Breakpoints
$x-large-screen: 1200px;
$large-screen: 769px;
$medium-screen: 480px;
$small-screen: 320px;

// Font Sizes
$base-font-size: 1em;
$small-font-size: .8em;

// Line height
$base-line-height: 1.3;
$heading-line-height: 1.2;

// Other Sizes
$base-border-width: 0;
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

// Overlay colors
$overlay-color: white;
$overlay-bg-color: rgba(black, 0.5);


// Animations
$base-duration: 500ms;
$base-timing: ease;

