@use '@angular/material' as mat;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  padding: .6em;
  background-color: mat.get-color-from-palette(mat.define-palette(mat.$purple-palette, 300));

  ::ng-deep {

    pre {
      height: 100%;
      flex: 1;
      margin: 0;
      border-radius: 0.2em;
    }

    ng-scrollbar {
      min-height: 100%;
    }
  }
}

hl-code {
  height: 100%;
  margin-bottom: 0;
}
