<ng-scrollbar>
  <header>
    <h1>Themes</h1>
  </header>

  <div class="page-content container">

    <section>
      <section-title> Icons only </section-title>
      <share-buttons [theme]="theme" show="5" size="-1"></share-buttons>
    </section>

    <section>
      <section-title> Icons + names </section-title>
      <share-buttons [theme]="theme" showText="true" show="5" size="-1"></share-buttons>
    </section>

    <section>
      <section-title> Icons + names + counts </section-title>
      <share-buttons [theme]="theme" url="http://twitter.com/" showText="true" showCount="true" show="5" size="-1"></share-buttons>
    </section>

    <section>
      <section-title> Icons + counts </section-title>
      <share-buttons [theme]="theme" url="http://twitter.com/" showCount="true" show="5" size="-1"></share-buttons>
    </section>

    <theme-switcher (themeChange)="theme = $event"></theme-switcher>

  </div>

  <footer></footer>
</ng-scrollbar>
