@import "../../variables";

.sb-outline-slide .sb-wrapper {
  @each $button,
  $color in $sb-buttons {
    &.sb-#{$button} {
      color: $color;
      &:hover {
        border-color: $color;
        box-shadow: inset 4em 0 0 $color;
      }
      &.sb-show-icon.sb-show-text {
        &:hover {
          box-shadow: inset 8.2em 0 0 $color;
        }
      }
      &.sb-show-icon.sb-show-count {
        &:hover {
          box-shadow: inset 6em 0 0 $color;
        }
      }
      &.sb-show-icon.sb-show-text.sb-show-count {
        &:hover {
          box-shadow: inset 10.3em 0 0 $color;
        }
      }
      &.sb-show-icon.sb-show-template {
        &:hover {
          box-shadow: inset 8em 0 0 $color;
        }
      }
    }
  }
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  height: 2.5em;
  &:hover {
    color: $sb-accent;
  }
  &.sb-show-icon.sb-show-text {
    .sb-text {
      padding-right: 1em;
      padding-left: 0;
    }
  }
  &.sb-show-icon.sb-show-count {
    .sb-count {
      padding-right: 1em;
      padding-left: 0;
    }
  }
  &.sb-show-icon.sb-show-template {
    .sb-template {
      padding-right: 1em;
      padding-left: 0;
    }
  }
}
