@import "../../variables";

.sb-outline-slide .sb-wrapper {

  @each $button, $color in $sb-buttons {
    &.sb-#{$button} {
      --color: $color;
    }
  }

  color: var(--color);
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  height: 2.5em;

  &:hover {
    color: $sb-accent;
    border-color: var(--color);
    box-shadow: inset 4em 0 0 var(--color);
  }

  &.sb-show-icon.sb-show-text {
    &:hover {
      box-shadow: inset 8em 0 0 var(--color);
    }
    .sb-text {
      padding-right: 1em;
      padding-left: 0;
    }
  }

  &.sb-show-icon.sb-show-count {
    &:hover {
      box-shadow: inset 6em 0 0 var(--color);
    }
    .sb-count {
      padding-right: 1em;
      padding-left: 0;
    }
  }

  &.sb-show-icon.sb-show-text.sb-show-count {
    &:hover {
      box-shadow: inset 10em 0 0 var(--color);
    }
  }

  &.sb-show-icon.sb-show-template {
    &:hover {
      box-shadow: inset 8em 0 0 var(--color);
    }
    .sb-template {
      padding-right: 1em;
      padding-left: 0;
    }
  }
}
