@use '~@angular/material' as mat;
@import '../../../assets/style/variables';

$note-bg-lightbulb: mat.get-color-from-palette(mat.define-palette(mat.$light-green-palette, 100));
$note-color-lightbulb: mat.get-color-from-palette(mat.define-palette(mat.$light-green-palette, 600));

$note-bg-coffee: mat.get-color-from-palette(mat.define-palette(mat.$brown-palette, 100));
$note-color-coffee: mat.get-color-from-palette(mat.define-palette(mat.$brown-palette, 600));

$note-bg-book: mat.get-color-from-palette(mat.define-palette(mat.$red-palette, 100));
$note-color-book: mat.get-color-from-palette(mat.define-palette(mat.$red-palette, 600));

:host {
  display: block;
  border-radius: 0.5em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 4em 0;
}

.note-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $note-color;
}

fa-icon {
  font-size: 1.7em;
  color: white;
}

.note-content {
  margin-left: 80px;
  text-align: justify;
  padding: 0.8em 1em;
}

section {
  min-height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: $note-bg;
  margin: 0;
}

.note-coffee {
  section {
    background-color: $note-bg-coffee;
  }
  .note-icon {
    background-color: $note-color-coffee;
  }
}

.note-lightbulb {
  section {
    background-color: $note-bg-lightbulb;
  }
  .note-icon {
    background-color: $note-color-lightbulb;
  }
}
.note-book {
  section {
    background-color: $note-bg-book;
  }
  .note-icon {
    background-color: $note-color-book;
  }
}
