@use '@angular/material' as mat;

:host {
  --lightbulb-bg: #{mat.get-color-from-palette(mat.define-palette(mat.$blue-gray-palette, 100))};
  --lightbulb-color: #{mat.get-color-from-palette(mat.define-palette(mat.$light-green-palette, 600))};

  --coffee-bg: #{mat.get-color-from-palette(mat.define-palette(mat.$blue-gray-palette, 100))};
  --coffee-color: #{mat.get-color-from-palette(mat.define-palette(mat.$blue-gray-palette, 600))};

  --book-bg: #{mat.get-color-from-palette(mat.define-palette(mat.$blue-gray-palette, 100))};
  --book-color: #{mat.get-color-from-palette(mat.define-palette(mat.$blue-gray-palette, 600))};

  display: block;
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
  border: var(--border);
  overflow: hidden;
  margin: 4em 0;
  font-family: 'Play', sans-serif;

  ::ng-deep {
    code {
      color: black;
      background: white;
    }
  }
}

.note-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--note-color);
}

fa-icon {
  font-size: 1.7em;
  color: white;
}

.note-content {
  margin-left: 80px;
  padding: 0.8em 1em;
}

section {
  min-height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--note-bg);
  margin: 0;
}

//.note-coffee {
//  section {
//    background-color: var(--coffee-bg);
//  }
//
//  .note-icon {
//    background-color: var(--coffee-color);
//  }
//}
//
//.note-lightbulb {
//  section {
//    background-color: var(--lightbulb-bg);
//  }
//
//  .note-icon {
//    background-color: var(--lightbulb-color);
//  }
//}
//
//.note-book {
//  section {
//    background-color: var(--book-bg);
//  }
//
//  .note-icon {
//    background-color: var(--book-color);
//  }
//}
