<ng-scrollbar shown="hover" [compact]="true">
  <header>
    <h1>Icons Guide</h1>
  </header>

  <div class="page-content container">

    <section>
      <section-title>Overview</section-title>
      <p>This library relies on <b><a href="https://fontawesome.com">FontAwesome</a></b> to display share buttons icons.
        By default the aliases of the share icons are selected, but you can still choose different icons aliases in the
        config should import the icons manually.</p>
    </section>

    <section>
      <section-title>Usage</section-title>
      <p><b>1.</b> Create a new file e.g. <code class="hljs">src/icons.ts</code> and import the share icons in it.</p>

      <hl-code [code]="code.import" [height]="400"></hl-code>

      <p>Copy and paste the above code in your file, if you don't want to include all share buttons, remove the unneeded
        icons.</p>
    </section>

    <section>
      <note icon="lightbulb">
        Use the deep link to import an icon to avoid importing the rest in your bundle.
      </note>
    </section>

    <section>
      <p><b>2.</b> To load the icons on app bootstrap use <code class="hljs">src/main.ts</code>, add the following line:
      </p>

      <hl-code [code]="code.icons"></hl-code>

      Or you can lazy load them in a feature module e.g. <code class="hljs">src/feature/feature.module.ts</code>
 
    </section>

    <section>
      <section-title>Custom icons</section-title>
      <p>Let's say you want to use facebook square icon instead of the default one</p>
      <hl-code [code]="code.libraryMethod" [height]="400"></hl-code>
      <p>You can also set the icon directly</p>
      <hl-code [code]="code.literalMethod"></hl-code>
    </section>
  </div>

  <footer></footer>
</ng-scrollbar>
