@import '../../../assets/style/variables';

:host {
  display: block;
  margin-top: 3em;
}

.note-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: $note-bg;
}

mat-icon {
  color: white;
  font-size: 36px;
  width: 36px;
  height: 36px;
  line-height: 36px;
}

.note-content {
  text-align: justify;
  padding: 0 1em;
  flex: 1;
}

section {
  border: 2px solid $note-bg;
  margin: 2em 0;
  display: flex;
  align-items: center;
  background-color: $api_output;
  border-radius: 0.5em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
