@import '~@angular/material/theming';
@import '../../../assets/style/variables';

$note-bg-lightbulb: mat-color(mat-palette($mat-light-green, 100));
$note-color-lightbulb: mat-color(mat-palette($mat-light-green, 600));

$note-bg-coffee: mat-color(mat-palette($mat-brown, 100));
$note-color-coffee: mat-color(mat-palette($mat-brown, 600));

:host {
  display: block;
}

.note-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $note-color;
}

fa-icon {
  font-size: 1.7em;
  color: white;
}

.note-content {
  margin-left: 80px;
  text-align: justify;
  padding: 0.8em 1em;
}

section {
  min-height: 80px;
  position: relative;
  margin: 4em 0;
  display: flex;
  align-items: center;
  background-color: $note-bg;
  border-radius: 0.5em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.note-coffee {
  section {
    background-color: $note-bg-coffee;
  }
  .note-icon {
    background-color: $note-color-coffee;
  }
}

.note-lightbulb {
  section {
    background-color: $note-bg-lightbulb;
  }
  .note-icon {
    background-color: $note-color-lightbulb;
  }
}
