  <share-button *ngFor="let button of buttons | slice: 0:shownButtons" [button]="button" [theme]="theme" [url]="url"
                [title]="title" [description]="description" [image]="image" [tags]="tags"
                [showCount]="showCount" [showIcon]="showIcon" [showName]="showName" [size]="size"
                (opened)="opened.emit($event)" (closed)="closed.emit($event)"></share-button>

  <!-- MORE BUTTON -->
  <div *ngIf="showAll && shownButtons === buttons.length"
       [class]="'sb-button sb-' + theme"
       [style.fontSize.px]="(1 + size/20) * 14">

    <button class="sb-wrapper sb-more"
            [class.sb-show-text]="showName"
            [class.sb-show-icon]="showIcon"
            (click)="less()">

      <div class="sb-inner">

        <div class="sb-content">
          <div *ngIf="showIcon" class="sb-icon">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </div>
          <div *ngIf="showName" class="sb-text">less</div>
        </div>

      </div>
    </button>
  </div>

  <div *ngIf="!showAll && shownButtons < buttons.length"
       [class]="'sb-button sb-' + theme"
       [style.fontSize.px]="(1 + size/20) * 14">
    <button class="sb-wrapper sb-more"
            [class.sb-show-text]="showName"
            [class.sb-show-icon]="showIcon"
            (click)="more()">

      <div class="sb-inner">

        <div class="sb-content">

          <div *ngIf="showIcon" class="sb-icon">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </div>
          <div *ngIf="showName" class="sb-text">more</div>
        </div>

      </div>
    </button>
  </div>





