<div class="sb-container">

    <h3>
        <span *ngIf="totalCount && tCount > 0" class="sb-count">
        {{tCount | nFormatter: 1}}
    </span>
        <span *ngIf="shareTitle" class="sb-title">{{shareTitle}}</span>
    </h3>

    <div class="sb-buttons" [class.sb-default-style]="defaultStyle">
        <share-button class="sb-button" *ngFor="let button of buttons"
                      [button]="button"
                      [url]="url"
                      [image]="image"
                      [text]="text"
                      [hashtags]="hashtags"
                      [count]="count"
                      (countOuter)="counter($event)"
        ></share-button>
    </div>

</div>