<ng-scrollbar [autoHide]="true" thumbClass="page-scrollbar-thumb">
  <header>
    <h1>Share Button Directive</h1>
  </header>

  <div class="page-content container">

    <section>
      <section-title>Overview</section-title>
      <p><code class="hljs">[shareButton]</code> is a directive that converts its host element to a share button.</p>
      <note icon="book">
        This directive comes with <code class="hljs">@ngx-share/core</code> package.
        Check <a href="https://murhafsousli.github.io/ngx-sharebuttons/core">Core Package Compodoc</a>.
      </note>
    </section>

    <section>
      <section-title>Installation</section-title>
      <p>Install the following packages</p>

      <h4>NPM</h4>
      <hl-code [code]="code.npm"></hl-code>

      <h4>YARN</h4>
      <hl-code [code]="code.yarn"></hl-code>
    </section>

    <section>
      <section-title>Import the module</section-title>

      <hl-code [code]="code.import"></hl-code>

      <p>The most basic share button needs only the name of the social network. e.g: <code class="hljs">shareButton="twitter"</code>
      </p>

      <code-switcher [code]="code.example1" [fill]="true">
        <div class="example example2">
          <button mat-fab shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
            <fa-icon [icon]="share.prop.facebook.icon" size="lg"></fa-icon>
          </button>
          <button mat-fab shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
            <fa-icon [icon]="share.prop.twitter.icon" size="lg"></fa-icon>
          </button>
          <button mat-fab shareButton="linkedin" [style.backgroundColor]="share.prop.linkedin.color">
            <fa-icon [icon]="share.prop.linkedin.icon" size="lg"></fa-icon>
          </button>
          <button mat-fab shareButton="whatsapp" [style.backgroundColor]="share.prop.whatsapp.color">
            <fa-icon [icon]="share.prop.whatsapp.icon" size="lg"></fa-icon>
          </button>
          <button mat-fab shareButton="telegram" [style.backgroundColor]="share.prop.telegram.color">
            <fa-icon [icon]="share.prop.telegram.icon" size="lg"></fa-icon>
          </button>
          <button mat-fab shareButton="pinterest" [style.backgroundColor]="share.prop.pinterest.color">
            <fa-icon [icon]="share.prop.pinterest.icon" size="lg"></fa-icon>
          </button>
        </div>
      </code-switcher>

      <code-switcher [code]="code.example2" [fill]="true">
        <div class="example example3">
          <button mat-icon-button shareButton="facebook" [style.color]="share.prop.facebook.color">
            <fa-icon [icon]="share.prop.facebook.icon" size="lg"></fa-icon>
          </button>
          <button mat-icon-button shareButton="twitter" [style.color]="share.prop.twitter.color">
            <fa-icon [icon]="share.prop.twitter.icon" size="lg"></fa-icon>
          </button>
          <button mat-icon-button shareButton="linkedin" [style.color]="share.prop.linkedin.color">
            <fa-icon [icon]="share.prop.linkedin.icon" size="lg"></fa-icon>
          </button>
          <button mat-icon-button shareButton="whatsapp" [style.color]="share.prop.whatsapp.color">
            <fa-icon [icon]="share.prop.whatsapp.icon" size="lg"></fa-icon>
          </button>
          <button mat-icon-button shareButton="telegram" [style.color]="share.prop.telegram.color">
            <fa-icon [icon]="share.prop.telegram.icon" size="lg"></fa-icon>
          </button>
          <button mat-icon-button shareButton="pinterest" [style.color]="share.prop.pinterest.color">
            <fa-icon [icon]="share.prop.pinterest.icon" size="lg"></fa-icon>
          </button>
        </div>
      </code-switcher>

      <p></p>
      <p>You can get the official colors and icons by injecting
        <b>ShareButtons</b> service in your component</p>

      <hl-code [code]="code.service"></hl-code>

    </section>

    <note>
      By default, the core package does not load any icon from FontAwesome, if you wish to use them, you should
      import them manually. Follow the <a routerLink="/icons">Icons Guide</a>.
    </note>

    <section fxShow fxHide.lt-md="true">
      <section-title>API</section-title>

      <mat-table [dataSource]="dataSource">

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef fxFlex="100px"> Type</mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="100px">
            <mat-chip-list>
              <mat-chip class="property" [class.property-input]="row.type==='input'"> {{ row.type }}</mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef fxFlex="130px"> Name</mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="130px">
            <b>{{row.name}}</b>
          </mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


    </section>

  </div>

  <footer></footer>
</ng-scrollbar>
