<mat-sidenav-container>

  <mat-sidenav opened="false">
    <nav-menu></nav-menu>
  </mat-sidenav>

  <div fxLayout>
    <div class="menu-wrapper" fxShow fxHide.lt-md="true">
      <nav-menu></nav-menu>
    </div>
    <main class="page-wrapper" [@sideAnimation]="getState(o)">
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </div>

  <button fxHide fxShow.lt-md="true" mat-fab class="menu-fab" [disabled]="sideNav.opened" (click)="sideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

</mat-sidenav-container>
