:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-wrapper {
  display: flex;
}

.menu-wrapper {
  width: 280px;
  position: relative;
  nav-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    box-shadow: var(--menu-box-shadow);
    z-index: 9999;
  }
}

.menu-fab {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.page-wrapper {
  position: relative;
  height: 100vh;
}
