<mat-sidenav-container>

  <mat-sidenav opened="false">
    <nav-menu/>
  </mat-sidenav>

  <div class="main-wrapper">
    @if (!isHeadset()) {
      <div class="menu-wrapper">
        <nav-menu/>
      </div>
    }
    <main class="page-wrapper" [@sideAnimation]="getState(o)">
      <router-outlet #o="outlet"/>
    </main>
  </div>

  @if (isHeadset()) {
    <button mat-fab class="menu-fab" [disabled]="sideNav.opened" (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  }

</mat-sidenav-container>
