@import url('https://fonts.googleapis.com/css?family=Play:400,700|Roboto:400,500,500i,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~normalize.css';
@import 'assets/style/variables';
@import 'assets/style/material';
@import 'assets/style/code';
@import '~@ngx-share/button/themes/modern/modern-light-theme';
@import '~@ngx-share/button/themes/modern/modern-dark-theme';
@import '~@ngx-share/button/themes/circles/circles-dark-theme';
@import '~@ngx-share/button/themes/circles/circles-light-theme';
@import '~@ngx-share/button/themes/material/material-light-theme';
@import '~@ngx-share/button/themes/material/material-dark-theme';
@import '~@ngx-share/button/themes/outline/outline-theme';
@import '~@ngx-share/button/themes/classic/classic-dark-theme';
@import '~@ngx-share/button/themes/classic/classic-light-theme';
@import '~@ngx-share/button/themes/default/default-theme';
@import '~highlight.js/styles/atom-one-dark.css';

*:not(mat-chip) {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $font-color;
  line-height: 2em;
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
}

h1,
h2,
h3,
h4,
h5,
li,
button {
  color: $font-color;
  font-family: 'Play', sans-serif;
}

h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  @media only screen and (max-width: 480px) {
    font-size: 2em;
  }
}

p {
  margin: 0 0 1em;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $action-color;
  font-family: 'Play', sans-serif !important;
}

section {
  margin: 6em 0;
  display: block;
  width: 100%;
}

.changed {
  background-color: lightgreen !important;
  transition: unset !important;
}

.property {
  background-color: $api_output !important;
  width: 74px;
  text-align: center;
}

.property-input {
  background-color: $api_input !important;
  width: 64px;
}

nav-menu {
  .ps__scrollbar-y {
    background-color: rgba(#fff, 0.4) !important;
  }

  .ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
    background-color: rgba(#fff, 0.8) !important;
  }
}

.sticky {
  position: fixed;
  left: 1em;
  top: 1em;
}

.sb-wrapper {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 1em;
  width: 100%;
  max-width: 915px;
  margin: auto;
  box-sizing: border-box;
}

.page-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
}

.page-title {
  position: relative;
  padding-top: 6.64em;
  padding-bottom: 2em;
  background-color: $footer-bg;
  color: white;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.4);
  z-index: 10;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;
    background-image: url('assets/img/pattern.svg');
  }

  h1 {
    font-weight: normal;
  }
}

.page-content {
  flex: 1;
}

// Custom Scrollbar
.page > ng-scrollbar {
  --scrollbar-border-radius: 12px;
  --scrollbar-size: 12px;
  --scrollbar-thumb-color: #009aaeb0;
  --scrollbar-color: rgba(0, 0, 0, 0.1);
  --scrollbar-thumb-hover-color: #e73727a6;

  .ng-scrollbar {
    transition: all 120ms ease-out !important;

    &:hover, &:active {
      --scrollbar-size: 16px;
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: perspective(1000px);
  overflow: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
}

.wall {
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.4);
  width: 100%;
  flex: 1;
  color: white;
  background: $footer-bg;
  position: relative;
  z-index: 10;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;
    background-image: url('assets/img/pattern.svg');
  }

  fa-icon {
    color: white;
    font-size: 1.3em;
    margin: 0.2em;
  }

  .note {
    border-radius: 8px;
    padding: 1.2em 1.6em;
    border: 1px dashed;
    background-color: $footer-bg;

    a {
      color: white;
      text-decoration: underline;
      font-weight: bold;
      transition: all ease 200ms;
    }
  }

  p {
    margin: 0;
  }
}
