<div class="header">
  <a class="cover" routerLink="/">
    <div class="cover-logo">
      <img src="assets/img/logo.svg" alt="Logo"/>
    </div>
    <h3>ngx-sharebuttons</h3>
  </a>
  <mat-divider/>
</div>
<ng-scrollbar>
  <div class="menu">
    <mat-nav-list>
      @for(item of menu; track item.name) {
        <a mat-list-item
           [routerLink]="item.link"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-caret-right" aria-hidden="true"></i>
          <span>{{ item.name }}</span>
        </a>
      }
    </mat-nav-list>
  </div>
</ng-scrollbar>

<ribbon/>
