<ng-scrollbar>
  <header>
    <h1>Add custom share button</h1>
  </header>

  <doc-container>
    <section>
      <section-title>Overview</section-title>
      <p>To use your own share button use the ShareService to add a custom button.</p>

      <p></p>

      <hl-code [code]="'assets/code-examples/custom-button/custom-button.ts' | codeFromUrl | async"/>

      <p>The available input for sharing parameters are <code class="hljs">url</code>, <code class="hljs">url</code>,
        <code class="hljs">title</code>, <code class="hljs">description</code>, <code class="hljs">image</code>,
        <code class="hljs">tags</code> and <code class="hljs">via</code>.

      <p>The effectiveness of these inputs depends on the options provided by the specific social network. most of them
        only support only the <code class="hljs">url</code>.
      </p>
    </section>
  </doc-container>
</ng-scrollbar>
