<div class="container">
  <section class="note">
    <p>If you identify any errors in this package, or have an idea for an improvement, please open an <a
      href="https://github.com/MurhafSousli/ngx-sharebuttons/issues">issue</a>.</p>
    <p>Here is a <a href="https://stackblitz.com/edit/ngx-sharebuttons">stackblitz template</a>.</p>
  </section>

  <section class="author">
    <span>By Murhaf Sousli</span>
    <a href="https://github.com/MurhafSousli"><i class="fab fa-github-alt" aria-hidden="true"></i></a>
    <a href="https://twitter.com/MurhafSousli"><i class="fab fa-twitter" aria-hidden="true"></i></a>
  </section>
</div>
