<div class="wall">
  <div class="container">
    <section class="note">
      <p>If you identify any errors in this package, or have an idea for an improvement, please open an <a
        href="https://github.com/MurhafSousli/ngx-sharebuttons/issues">issue</a>.</p>
      <p>Here is a <a href="https://stackblitz.com/edit/ngx-sharebuttons">stackblitz template</a>.</p>
    </section>

    <section class="author">
      <span>By Murhaf Sousli</span>
      <a href="https://github.com/MurhafSousli">
        <fa-icon [icon]="iconGithub" size="lg"></fa-icon>
      </a>
      <a href="https://twitter.com/MurhafSousli">
        <fa-icon [icon]="iconTwitter" size="lg"></fa-icon>
      </a>
    </section>
  </div>
</div>
