:host {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 100%;
  margin-bottom: 2em;
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
  overflow: hidden;
  border: var(--border);

  .ng-scrollbar {
    --scrollbar-padding: 0px;
    --scrollbar-size: 6px;
    --scrollbar-border-radius: 0px;
    //--scrollbar-thumb-hover-color: #{var(--accent-color);};
    //background: #282c34;

    &:hover, &:active {
      --scrollbar-size: 10px;
    }
  }
}

button {
  position: absolute;
  right: 7px;
  top: 7px;
}

span {
  margin-left: 10px;
}

pre {
  min-height: 100%;
}
