:host {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 100%;
  margin-bottom: 2em;
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
  overflow: hidden;
  border: var(--border);

  .ng-scrollbar {
    --scrollbar-padding: 0px;
    --scrollbar-thickness: 6;
    --scrollbar-hover-thickness: 10;
    --scrollbar-border-radius: 0px;
  }
}

button {
  position: absolute;
  right: 7px;
  top: 7px;
}

span {
  margin-left: 10px;
}

pre {
  min-height: 100%;
}
