<section>
  <h2>Issues</h2>
  <p>If you identify any errors in this package, or have an idea for an improvement, please open an <a
    href="https://github.com/MurhafSousli/ng2-sharebuttons/issues">issue</a>.
    I am excited to see what the community thinks of this project, and I would love your input!</p>

</section>

<section>
  <h2>Author</h2>
  <a href="http://murhafsousli.com"><b>Murhaf Sousli</b></a>
  <ul>
    <li><a href="https://github.com/MurhafSousli">github/murhafsousli</a></li>
    <li><a href="https://twitter.com/MurhafSousli">twitter/murhafsousli</a></li>
  </ul>

</section>
