@import '../../../assets/style/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  box-sizing: border-box;
  padding-top: 25px;
  height: 100%;
  background-color: $action-color;
  background: linear-gradient(to right, #f6e6b4 0%, #ed6c44 0%, #ed4f28 25%, #e73727 71%, #e84040 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.header {
  width: 100%;
}

.cover-logo {
  padding: 1em;
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  img {
    width: 140px;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
    transform: translateZ(0);
    transition: filter linear 100ms, transform linear 100ms;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    &:active {
      zoom : 150%;
      filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.4));
      transform: scale(0.96) translateZ(0);
    }
  }
}

.mat-list-item {
  color: rgba(white, 0.8);
  display: block;
  font-weight: bold;
  width: 100%;
}

h3 {
  color: white;
  margin: 1em 0;
  @media only screen and (max-width: 480px) {
    font-size: 1em;
  }
}

span {
  text-shadow: 0 4px 5px rgba(#333, 0.3);
}

a i {
  display: none;
}

.active-link {
  position: relative;
  color: white;
  i {
    display: flex;
    align-items: center;
    float: left;
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.menu {
  width: 100%;
  overflow: auto;
  padding-bottom: 50px;
}

.cover {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0 0;
  position: relative;
  outline: none;
}

ribbon {
  position: fixed;
  top: 0;
  right: 0.5em;
  border: 0;

  @media only screen and (max-width: 960px) {
    right: 0;
  }
}


