@import "variables";

.sb-group,
.sb-button {
  display: inline-flex;
  align-items: center;
}

.sb-group {
  flex-wrap: wrap;
}

.sb-button {
  margin: $share-button-margin;
}

/** Default style */

.sb-wrapper {
  font-size: $sb-font-size;
  cursor: pointer;
  position: relative;
  outline: 0;
  min-width: $sb-min-width;
  height: $sb-height;
  border: $sb-border;
  border-radius: $sb-border-radius;
  padding: $sb-padding;
  line-height: $sb-template-line-height;
  background-color: $sb-background-color;
  .sb-icon,
  .sb-text,
  .sb-count,
  .sb-template {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sb-inner {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
  }
  .sb-content {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .sb-text {
    padding: $sb-text-padding;
  }
  .sb-text,
  .sb-template {
    flex: 1;
    height: 100%;
    white-space: nowrap;
  }
  .sb-icon {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: $sb-icon-size;
    min-width: 2em;
  }
  .sb-count {
    font-size: $sb-count-size;
    padding: $sb-count-padding;
  }
}

/** WITH BUTTON TEXT */

.sb-show-text,
.sb-show-template {
  .sb-icon {
    width: 2em;
  }
}

/** WITH CUSTOM TEMPLATE */

.sb-show-template {
  .sb-template {
    padding: $sb-text-padding;
  }
  .sb-template,
  .sb-count {
    white-space: nowrap;
    flex: 1;
  }
}

.sb-show-template.sb-show-icon {
  .sb-template {
    padding-left: $sb-template-padding;
  }
}

/** WITH COUNT */

.sb-show-count {
  min-width: $sb-count-min-width;
}

/** Hardcoded Fixes */

/** enlarge whatsapp icon */

.sb-whatsapp .fa.fa-whatsapp {
  font-size: 1.1em;
}

/** centralize telegram icon*/

.sb-telegram .fa.fa-send {
  margin-left: -2px;
}

.sb-more {
  .fa.fa-ellipsis-h,
  .fa.fa-minus {
    margin-top: 2px;
  }
}
