<ng-scrollbar [autoHide]="true" thumbClass="page-scrollbar-thumb">
  <header>
    <h1>Angular Share Buttons</h1>

    <div class="page-content container">
      <badges></badges>

      <section>
        <div class="sb-options" fxLayout fxLayoutGap="2em" fxLayoutAlign="center center" fxLayout.lt-sm="column">
          <div class="sb-option">
            <a class="white-bg" mat-raised-button routerLink="/share-buttons-component">
              <img src="assets/img/sharebuttons-component.svg"/>
              <h3>Share Buttons</h3>
            </a>

            <a class="white-bg" mat-raised-button href="https://murhafsousli.github.io/ngx-sharebuttons/buttons">
              <fa-icon [icon]="['fas', 'book']" size="lg"></fa-icon>
              <i>@ngx-share/buttons Compdoc</i>
            </a>
          </div>
          <div class="sb-option">
            <a class="white-bg" mat-raised-button routerLink="/share-buttons-component">
              <img src="assets/img/sharebutton-component.svg"/>
              <h3>Single Share Button</h3>
            </a>

            <a class="white-bg" mat-raised-button href="https://murhafsousli.github.io/ngx-sharebuttons/button">
              <fa-icon [icon]="['fas', 'book']" size="lg"></fa-icon>
              <i>@ngx-share/button Compdoc</i>
            </a>
          </div>

          <div class="sb-option">
            <a class="white-bg" mat-raised-button routerLink="/share-buttons-component">
              <img src="assets/img/sharebutton-component.svg"/>
              <h3>Single Share Button</h3>
            </a>

            <a class="white-bg" mat-raised-button href="https://murhafsousli.github.io/ngx-sharebuttons/core">
              <fa-icon [icon]="['fas', 'book']" size="lg"></fa-icon>
              <i>@ngx-share/core Compdoc</i>
            </a>
          </div>
        </div>
      </section>

      <section>
        <section-title>Features</section-title>
        <ul>
          <li *ngFor="let feature of features">
            <button mat-icon-button>
              <mat-icon class="md-24">done</mat-icon>
            </button>
            <span>{{ feature }} </span>
          </li>
        </ul>
      </section>
    </div>

  </header>

</ng-scrollbar>
