@import '../../assets/style/variables';

:host {
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
  text-align: center;
}

h1 {
  font-size: 3em;

 @media only screen and (max-device-width : 480px) {
  font-size: 2em;
 }
}

h3{
  margin: 1em 0;
 @media only screen and (max-device-width : 480px) {
  font-size: 1em;
 }
}

span{
  color: $action-color;
  text-shadow: 0 4px 5px rgba(#333, 0.3);
}

img {
  width: 300px;
}


.cover {
  font-size: .7em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
  position: relative;
}

.ribbon {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

share-buttons{
  margin: 0 auto 1.5em;
}
