@import "../variables";

$button-bg: #ddd;
$border-radius: .2em;
$border-color: darken($button-bg, 15%);
$button-bg-light: lighten($button-bg, 12%);
$hover-bg: lighten($button-bg, 10%);
$hover-bg-light: lighten($button-bg, 15%);
$border-color: darken($button-bg, 15%);
$icon-shadow: 1px 0 0 rgba(darken($button-bg, 35%), .5), 2px 0 0 rgba(255, 255, 255, .5);

.sb-classic-light .sb-wrapper {
  background-image: linear-gradient(to bottom, $button-bg-light, $button-bg);
  --sb-icon-size: 1.1em;
  --sb-color: var(--button-color);
  --sb-background: #ddd;
  --sb-border-radius: #{$border-radius};
  --sb-border: 1px solid #{$border-color};
  --sb-text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
  --sb-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3);

  &:hover {
    background-color: $hover-bg;
    background-image: linear-gradient(to bottom, $hover-bg-light, $hover-bg);
  }

  &:active {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3) inset;
    position: relative;
    top: 1px;
  }

  .sb-icon {
    pointer-events: none;
    min-width: 2em;
  }

  &.sb-show-text {
    .sb-icon {
      box-shadow: $icon-shadow;
    }
  }
}
