@import "../variables";

.sb-classic-dark .sb-wrapper {
  --sb-icon-size: 1.1em;
  --sb-color: #{$sb-accent};
  --sb-background: var(--button-color);
  --sb-border-radius: .2em;
  --sb-border: 1px solid rgba(0, 0, 0, .2);
  --sb-text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  --sb-box-shadow: 0 0 1px 2px rgba(255, 255, 255, .2) inset, 0 1px 0 rgba(0, 0, 0, .3);

  &:active {
    --sb-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3) inset;
    position: relative;
    top: 1px;
  }

  .sb-icon {
    pointer-events: none;
    min-width: 2em;
  }

  .sb-text {
    background: rgba(0, 0, 0, .1);
  }
}
