<ng-scrollbar [autoHide]="true">
  <header>
    <h1>Styling Guide</h1>
  </header>

  <div class="page-content container">

    <section>
      <section-title>Create custom theme</section-title>
      <p>There are several classes to help you adjust your custom styles</p>

      <pre>
        <code highlight [code]="stylingCode"></code>
      </pre>

      <p>If you use <b>.sb-colorful-theme</b> then the theme name will become <b>colorful</b>:</p>
      <pre>
        <code highlight [code]="componentCode"></code>
      </pre>
    </section>

  </div>

  <footer></footer>
</ng-scrollbar>
