<section>
  <h2>Integration</h2>
  <p>Convert any button to a share button using the share directive <code highlight>[shareButton]="buttonName"</code>
  <p></p>

  <highlight [lang]="'html'" [code]="directiveLayout"></highlight>

  <output>
    <div class="material-sharebuttons">
      <button md-button [shareButton]="'facebook'"><i class="fa fa-facebook"></i></button>
      <button md-raised-button [shareButton]="'twitter'"><i class="fa fa-twitter"></i></button>
      <button md-icon-button [shareButton]="'linkedin'"><i class="fa fa-linkedin"></i></button>
      <button md-fab [shareButton]="'pinterest'"><i class="fa fa-pinterest-p"></i></button>
    </div>
  </output>

  <p>Another example, add pin button to an image</p>

  <tabs>
    <tab tabTitle="Template">
      <highlight lang="html" [code]="pinHtml"></highlight>
    </tab>
    <tab tabTitle="Style">
      <highlight lang="scss" [code]="pinCss"></highlight>
    </tab>
  </tabs>

  <output>
    <div class="photo">
      <div class="pin-button" shareButton="pinterest" [sbImage]="imageSrc"><i
        class="fa fa-pinterest-p"></i></div>
      <img [src]="imageSrc">
    </div>
  </output>
</section>
