<section>
  <h2>Integration</h2>
  <p>Convert any button to a share button using the share directive <code highlight>[shareButton]="buttonName"</code>
  <p></p>
  <tabs>
    <tab tabTitle="Code">
      <highlight [code]="directiveCode"></highlight>
    </tab>
    <tab tabTitle="Template">
      <highlight [code]="directiveLayout"></highlight>
    </tab>
  </tabs>

  <output>
    <div class="material-sharebuttons">
      <button md-button [shareButton]="'facebook'"><i class="fa fa-facebook"></i></button>
      <button md-raised-button [shareButton]="'twitter'"><i class="fa fa-twitter"></i></button>
      <button md-icon-button [shareButton]="'linkedin'"><i class="fa fa-linkedin"></i></button>
      <button md-fab [shareButton]="'pinterest'"><i class="fa fa-pinterest-p"></i></button>
    </div>
  </output>
</section>
