$twitter: #00acee;
$facebook: #3b5998;
$googleplus: #e93f2e;
$stumbleupon: #f74425;
$linkedin: #0e76a8;
$pinterest: #C92228;
$reddit: #FF4006;
$tumbler: #36465D;
$github: #800080;
$stackoverflow: #F48023;

.share-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
  button {
    background-color: transparent;
    flex: 1 0 20%;
    margin: 5px;
    font-size: 1.2em;
    &:hover{
      transition: all ease 500ms;
    }
    @media screen and (min-width: $medium-screen) {
      flex: 1 1 50px;
    }
  }
}

.share-style {
  button {
    @extend .btn;
  }
  .facebook {
    @include btnColor($facebook);
  }

  .twitter {
    @include btnColor($twitter);
  }

  .googleplus {
    @include btnColor($googleplus);
  }

  .stumbleupon {
    @include btnColor($stumbleupon);
  }

  .linkedin {
    @include btnColor($linkedin);
  }

  .pinterest {
    @include btnColor($pinterest);
  }

  .reddit {
    @include btnColor($reddit);
  }

  .tumblr {
    @include btnColor($tumbler);
  }

  .github {
    @include btnColor($github);
  }

  .stackoverflow {
    @include btnColor($stackoverflow);
  }
}

.twitter {
  color: $twitter;
  &:hover {
    color: rgba($twitter, 0.6);
  }
}

.googleplus {
  color: $googleplus;
  &:hover {
    color: rgba($googleplus, 0.6);
  }
}

.linkedin {
  color: $linkedin;
  &:hover {
    color: rgba($linkedin, 0.6);
  }
}

.pinterest {
  color: $pinterest;
  &:hover {
    color: rgba($pinterest, 0.6);
  }
}

.facebook {
  color: $facebook;
  &:hover {
    color: rgba($facebook, 0.6);
  }
}

.stumbleupon {
  color: $stumbleupon;
  &:hover {
    color: rgba($stumbleupon, 0.6);
  }
}

.reddit {
  color: $reddit;
  &:hover {
    color: rgba($reddit, 0.6);
  }
}

.tumblr {
  color: $tumbler;
  &:hover {
    color: rgba($tumbler, 0.6);
  }
}
