figure {
  max-width: 400px;
  margin: 0.5em;
}

img {
  max-width: 100%;
  display: block;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  overflow: hidden;
}

figcaption {
  margin-top: 1em;
  text-align: center;
  font-family: var(--play-font-family);
  opacity: 0.5;
}

.row {
  display: flex;
  justify-content: space-between;
}
