<ng-scrollbar>
  <header>
    <h1>Styling Guide</h1>
  </header>

  <div class="page-content container">

    <section>
      <section-title>Styling using CSS variables</section-title>

      <p>Here are a list of the CSS variables you can use to change main styles:</p>

      <hl-code [code]="cssVariables" [height]="400"></hl-code>

      <p>If you still need to change other CSS rules, see the classes in the next section.</p>
    </section>

    <section>
      <section-title>Create custom theme</section-title>
      <p>There are several classes to help you adjust your custom styles</p>

      <hl-code [code]="stylingCode" [height]="400"></hl-code>

      <p>If you use <b>.sb-<span style="text-decoration: underline">moon</span>-theme</b> then the theme name will
        become <b>moon</b>:</p>

      <hl-code [code]="componentCode"></hl-code>

    </section>

  </div>

  <footer></footer>
</ng-scrollbar>
