<section>
  <h2>Customization & Style</h2>
  <p><b>Styling share buttons: </b>disable the default style with <code highlight>[defaultStyle]="false"</code>
    then use the classes shown in the style tab below to override them with your custom css.</p>

  <p><b>Change buttons order: </b>use the css rule <code highlight>order</code></p>

  <p><b>Custom button template: </b>use the input of the social network you want, e.g. give facebook a custom template
    <code highlight>[facebook]="facebookTemp"</code>.
  </p>

  <p><b>Disable a button: </b>pass <a><pre style="display: inline">false</pre></a> to the social network input. e.g. <code highlight>[reddit]="false"</code>
  </p>

  <tabs>
    <tab tabTitle="Code">
      <highlight [lang]="'ts'" [code]="tsCode"></highlight>
    </tab>
    <tab tabTitle="Template">
      <highlight [lang]="'html'" [code]="htmlCode"></highlight>
    </tab>
    <tab tabTitle="Style">
      <highlight [lang]="'scss'" [code]="cssCode"></highlight>
    </tab>
  </tabs>

  <output>
    <share-buttons class="custom-buttons"
                   [defaultStyle]="false"

                   [url]="'https://twitter.com'"
                   [facebook]="fbTemp"
                   [twitter]="twttTemp"
                   [pinterest]="pintTemp"
                   [linkedIn]="inTemp"
                   [google]="googleTemp"
                   [tumblr]="tumblrTemp"
                   [whatsApp]="whatsTemp"
                   [reddit]="false"
                   [stumbleUpOn]="false"
    ></share-buttons>
  </output>

</section>
