
html, body {
  height: 100%;
  margin: 0;
}
body{
  padding:10px;
  color: #333333;
  font-size: 1.1em;
  font-family: 'Muli', sans-serif;
}
h1,h2,h3,h4,h5,h6, button, .sb-button-count{
  font-family: 'Play', sans-serif;
}
h3{
  font-size: 1.1em;
}
h5{
  color: #E03237;
  font-size: 1.2em;
}
pre{
  font-size: 0.9em;
}

p{
  line-height: 1.8em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .token.operator{
    //just a hack to fix '=' operator background color issue
    background-color: transparent;
  }
}

 custom, section {
  display: block;
  width: 100%;
}
.markup{
  background-color: rgba(0,0,0,0.04);
  font-size: 85%;
  padding: .2em;
  border-radius: 3px;
}
section {
  margin-top: 30px;
  h2 {
    &:before {
      color: #E03237;
      content: '\f0da';
      font-family: "FontAwesome";
      float: left;
      margin-right: 10px;
    }
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      opacity: 0.1;
      background-color: black;
      margin-top: 15px;
    }
  }
}
.output{
  border-radius: 8px;
  padding: 0 20px;
  border: 3px dashed #F2A6A9;
  margin: 20px 0;
}

img {
  max-width: 100%;
}


a{
  color: #0677B7;
  text-decoration: none;
  transition: all ease .35s;
  &:hover{
    color: rgba(#0677B7, .7);
  }
}

.share-project{
  display:block;
  width: 100%;
  max-width: 600px;
}

.custom-buttons{
  .sb-button button img{
    border-radius: 50%;
    transition: all ease .35s;
    &:hover{
      transform: scale(0.85);
      box-shadow: inset 2px 2px 3px rgba(0,0,0,0.8);
    }
  }
}

ul{
  .sb-container{
    max-width: 500px;
    margin-top: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .sb-buttons{
    transform: scale(0.8);
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.single-button{
  button {

    width: 60px;
    background-color: transparent;
    margin: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #36465d;
    img{
      transition: all ease .1s;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}

app-single{
  display:block;
  width: 100%;
}