@import '../../../assets/style/variables';

:host {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 100%;
  margin-bottom: 2em;
  border-radius: .5em;
  overflow: hidden;
  ng-scrollbar {
    box-shadow: $box-shadow;
    margin-bottom: 0;
  }
}

.mobile {
  :host {
    ::ng-deep {
      .ng-scrollbar-view {
        height: unset !important;
      }
    }
  }
}

button {
  position: absolute;
  right: 1em;
  top: 1em;
}

.copy-message {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 0.2em;
}

span {
  margin-left: 10px;
}

pre {
  min-height: 100%;
}
