<p>For the shared link preview such as title, description and image ...etc, all social network apps fetches the meta tags using
  the static meta tags defined in the page header. this means that SSR is needed to make the meta tags accessible to the
  link scrapper, read more on <a routerLink="../faq">"No article preview when a link is shared"</a> section.</p>
<p>The meta tags inputs in this library can be useful only to set the sharer URL parameters, such as the url for all
  buttons or description for whatsapp button,
  so it's up to the options available from the social network.</p>

<note>
  Some of the meta tag inputs may seem not working, see compatibility <a target="_blank"
                                                                         href="https://github.com/MurhafSousli/ngx-sharebuttons/wiki/Meta-tags-inputs-compatibility">
  here</a>, to properly set the meta tags, SSR is needed! <a routerLink="../faq">read more...</a>.
</note>
