:host {
  position: relative;
  display: block;
}

.code-button {
  position: absolute;
  right: -40px;
  top: -40px;
  z-index: 90;
}

h4 {
  margin: 0;
}

mat-form-field {
  width: 100%;
  margin-right: 1em;
}

.lab-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  .lab-checkboxes {
    height: 60px;
    display: flex;
    align-items: center;
  }
  mat-chip {
    margin-right: 1em !important;
    transition: background-color ease-out 1s;
  }
  .preview {
    transition: background-color ease 0.3s;
    font-size: 16px;
    padding: 2em;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lab-outputs {
    height: 60px;
  }
}

.lab-space-col {
  width: 2em;
}

.inputs-line {
  align-items: center;
  margin-bottom: 1em;
  mat-select,
  .toggle-group {
    flex: 1;
  }
  mat-form-field {
    width: 140px;
  }
}

.horizontal {
  display: flex;
}

.vertical {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.mat-slide-toggle {
  margin: 0 0.5em;
}

.code-button {
  font-size: 1.5em;
}
