<ng-scrollbar [autoHide]="true" thumbClass="page-scrollbar-thumb">
  <header>
    <h1>Angular Share Buttons</h1>

    <div class="page-content container">
      <badges></badges>

      <section>
        <div class="sb-options" fxLayout fxLayoutGap="2em" fxLayoutAlign="center center" fxLayout.lt-sm="column">
          <a class="sb-option white-bg" mat-raised-button routerLink="/share-buttons-component">
            <img src="assets/img/sharebuttons-component.svg"/>
            <h3>Share Buttons</h3>
          </a>
          <a class="sb-option white-bg" mat-raised-button routerLink="/share-button-component">
            <img src="assets/img/sharebutton-component.svg"/>
            <h3>Single Share Button</h3>
          </a>
          <a class="sb-option white-bg" mat-raised-button routerLink="/share-button-directive">
            <span><fa-icon [icon]="directiveIcon"></fa-icon></span>
            <h3>Share Button Directive</h3>
          </a>
        </div>
      </section>

      <section>
        <section-title>Features</section-title>
        <ul>
          <li *ngFor="let feature of features">
            <button mat-icon-button>
              <mat-icon class="md-24">done</mat-icon>
            </button>
            <span>{{ feature }} </span>
          </li>
        </ul>
      </section>
    </div>

  </header>

</ng-scrollbar>
