@import '~bourbon/app/assets/stylesheets/bourbon';
@import '../../../../assets/style/variables';

:host {
}

ul {
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
  background-color: rgba(226,226,226,1);
  //background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
}

li {
  padding: .2rem 1rem;
  cursor: pointer;
  transition: all linear .2s;
  color: $font-color;
  &.active{
    background-color: $action-color;
    //background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    color: white;
    &:hover {
      color: white;
    }
  }
  &:hover {
    color: $output-color;
  }
}
