@use '@angular/material' as mat;

@use 'assets/style/code';
@use '../../ngx-sharebuttons/themes/modern';
@use '../../ngx-sharebuttons/themes/circles';
@use '../../ngx-sharebuttons/themes/material';
@use '../../ngx-sharebuttons/themes/outline';
@use '../../ngx-sharebuttons/themes/classic';
@use '../../ngx-sharebuttons/themes/default';

@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-blue-gray-palette, 500);
$accent: mat.m2-define-palette(mat.$m2-red-palette);
$warn: mat.m2-define-palette(mat.$m2-purple-palette, 300);

$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography: mat.m2-define-typography-config(
    $font-family: 'Play'
  ),
  density: 0,
));

@include mat.all-component-themes($my-theme);

:root {
  --primary-color: #2E4057;
  --accent-color: #e24d41;
  --action-color: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-blue-gray-palette, 500))};
  --output-color: #778DA9;
  --note-color: var(--action-color);
  --note-bg: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-blue-gray-palette, 50))};
  --footer-bg: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-blue-gray-palette, 300))};
  --dialog-bg: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-purple-palette))};

  --border: 1px solid lightgray;
  --box-shadow: #{0 3px 10px rgba(black, 0.1)};
  --sm-box-shadow: #{0 1px 4px rgba(black, 0.1)};
  --code-bg: #fff;

  --menu-box-shadow: #{0 0 6px rgba(0, 0, 0, 0.23)};
  --api_input: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-light-blue-palette), 50)};
  --api_output: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-cyan-palette), 50)};

  --play-font-family: 'Play', sans-serif;

  --ng-progress-color: var(--accent-color);
  --ng-progress-thickness: 3;
}

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--primary-color);
  line-height: 2em;
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
}

h1,
h2,
h3,
h4,
h5,
li,
button {
  color: var(--primary-color);
  font-family: var(--play-font-family);
}

h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  @media only screen and (max-width: 480px) {
    font-size: 2em;
  }
}

p {
  margin: 0 0 1em;
}

img {
  max-width: 100%;
}

a {
  white-space: nowrap;
  text-decoration: none;
  color: var(--accent-color);;
  font-family: 'Play', sans-serif !important;
}

section {
  margin: 6em 0;
  display: block;
  width: 100%;

  &:first-child {
    margin-top: 3em;
  }
}

.changed {
  background-color: lightgreen !important;
  transition: unset !important;
}

.property {
  background-color: var(--api_output) !important;
  width: 74px;
  text-align: center;
}

.property-input {
  background-color: var(--api_input) !important;
  width: 64px;
}

.sticky {
  position: fixed;
  left: 1em;
  top: 1em;
}

.sb-wrapper {
  font-family: 'Roboto', sans-serif;
}

.home-container {
  max-width: 900px !important;
}

.container {
  padding: 1em;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
}

.page-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
}

.page-title {
  position: relative;
  padding-top: 6.64em;
  padding-bottom: 2em;
  background-color: var(--footer-bg);
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;
    background-image: url('assets/img/pattern.svg');
  }

  h1 {
    font-weight: normal;
  }
}

.page-content {
  flex: 1;
}

.page-content-with-overview {
  display: flex;
  gap: 30px;
}

.page {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: perspective(1000px);
  overflow: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);

  .ng-scrollbar {
    //--scrollbar-border-radius: 12px;
    --scrollbar-thickness: 12;
    --scrollbar-hover-thickness: 16;
    --scrollbar-thumb-color: var(--action-color);
    --scrollbar-color: rgba(0, 0, 0, 0.1);
    --scrollbar-thumb-hover-color: var(--action-color);
    --scrollbar-track-color: rgba(0, 0, 0, 0.1);
  }
}

.wall {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  flex: 1;
  color: white;
  background: var(--footer-bg);
  position: relative;
  z-index: 10;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;
    background-image: url('assets/img/pattern.svg');
  }

  fa-icon {
    color: white;
    font-size: 1.3em;
    margin: 0.2em;
  }

  .note {
    border-radius: 8px;
    padding: 1.2em 1.6em;
    border: 1px dashed;
    background-color: var(--footer-bg);

    a {
      color: white;
      text-decoration: underline;
      font-weight: bold;
      transition: all ease 200ms;
    }
  }

  p {
    margin: 0;
  }
}


// MATERIAL CHIPS

.mat-chip-list-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center !important;
}

.mat-mdc-chip-option {
  font-family: 'Play', sans-serif;
  text-transform: lowercase !important;
}

.mat-primary .mat-chip-selected {
  background-color: lightgreen !important;
}

// MATERIAL CARD

.mat-mdc-card {
  overflow: initial;
  margin-top: 3em;
}

.mat-mdc-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;

  .mat-card-header-text {
    margin: 0;
  }
}

.mat-mdc-card-content {
  flex: 1;
  position: relative;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: initial;
}

// MATERIAL LIST

.mat-list, .mat-nav-list {
  padding-top: 1em !important;
}

.mat-list-item {
  height: 52px !important;
}

.mat-list-item-content {
  padding: 0 0 0 48px !important;
  height: 52px !important;
}

.mat-sidenav, .mat-sidenav-container {
  background: unset;
}

.mat-sidenav-container {
  color: var(--primary-color);
}

// MATERIAL DIALOG
.code-dialog .mat-mdc-dialog-container {
  --mdc-dialog-container-color: transparent;
  --mdc-dialog-container-shape: 0.6em;
}

.mat-slide-toggle .mat-slide-toggle-content {
  font-size: 0.9em;
  font-weight: bold;
}

.copy-tooltip {
  color: mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-red-palette));
  background-color: rgba(0, 0, 0, 0.5);
}

// TABLES

.mat-mdc-table {
  overflow: hidden;
  background: lightgray;
  --table-header-cell-bg: var(--action-color);
  --table-header-cell-color: white;
  --table-cell-bg: white;

  .mat-mdc-cell {
    background: var(--table-cell-bg);
  }

  .mat-mdc-header-cell {
    color: var(--table-header-cell-color);
    background: var(--table-header-cell-bg) !important;
  }

  .mat-mdc-row, .mat-mdc-header-row {
    gap: 1px;
  }
}

// MATERIAL TABLE

.mat-mdc-table, .mat-mdc-card {
  box-shadow: unset !important;
  border: var(--border) !important;
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
}

.mat-mdc-cell, .mat-mdc-card, .mat-mdc-chip:not(.mat-mdc-basic-chip) {
  color: var(--primary-color) !important;
}

.mat-mdc-header-cell {
  color: rgba(var(--primary-color), 0.54);
}

.mat-header-row, .mat-row {
  min-height: 34px !important;

  .mat-mdc-cell {
    padding: 0.8em 0;
  }
}


.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-name,
.mat-column-type {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-type {
  text-align: center;
}
