// CODE SYNTAX HIGHLIGHTING
pre {
  min-width: 100%;
  margin: 0;
  display: inline-flex;
  word-wrap: normal;
  code {
    height: 100%;
    padding: 1.7em 2em !important;
    border-radius: 0;
    flex: 1;
    margin: 0;
    box-shadow: none;
    overflow: hidden;
  }
}

code.hljs {
  display: inline-block;
}

code {
  color: #E6E1DC;
  box-sizing: border-box;
  font-size: 0.875em;
  font-weight: normal;
  border-radius: .2em;
  flex: 1;
  line-height: 1.75em;
  box-shadow: $sm-box-shadow;
  margin: 0 0.3em;
  padding: 0 0.5em !important;
  overflow-x: unset !important;
}

ng-scrollbar {
  .code-scrollbar-thumb {
    background-color: rgba($footer-bg, 0.6);
    &:hover {
      background-color: rgba($footer-bg, 0.7);
    }
    &:active {
      background-color: rgba($footer-bg, 0.9);
    }
  }
  .page-scrollbar-thumb {
    background-color: rgba($action-color, 0.6);
    &:hover {
      background-color: rgba($action-color, 0.7);
    }
    &:active {
      background-color: rgba($action-color, 0.9);
    }
  }
}

.center {
  ng-scrollbar {
    .ng-scrollbar-view {
      display: flex;
      align-items: center;
    }
  }
}

.hljs {
  transition: background ease-in-out 0.2s;
}

/**
Remove wrong highlight in bash language
 */
.hljs-meta {
  color: unset !important;
}
