// CODE SYNTAX HIGHLIGHTING
pre {
  min-width: 100%;
  margin: 0;
  display: inline-flex;
  word-wrap: normal;

  code {
    height: 100%;
    padding: 17.75px 20px !important;
    border-radius: 0;
    border: none;
    flex: 1;
    margin: 0;
    box-shadow: none;
    overflow: hidden;
  }
}

code.hljs {
  display: inline-block;
}

code {
  border: 1px solid rgba(lightgray, 0.1);
  color: #E6E1DC;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: normal;
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
  flex: 1;
  line-height: 1.75em;
  margin: 0 0.3em;
  padding: 0 0.5em !important;
  overflow-x: unset !important;
  border: var(--border);
}

.hljs {
  transition: background ease-in-out 0.2s;
}

/**
Remove wrong highlight in bash language
 */
.hljs-meta {
  color: unset !important;
}
