@import '~@angular/material/theming';

@include mat-core();
$primary: mat-palette($mat-cyan, 700);
$accent: mat-palette($mat-red);
$warn: mat-palette($mat-purple, 300);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

// MATERIAL TABLE

mat-table, mat-card {
  box-shadow: $box-shadow !important;
}

.mat-cell, mat-card, .mat-chip:not(.mat-basic-chip) {
  color: $font-color !important;
}

.mat-header-cell {
  color: rgba($font-color, 0.54);
}

.mat-header-row, .mat-row {
  min-height: 34px !important;
  mat-cell {
    padding: 0.8em 0;
  }
}

// MATERIAL CHIPS

.mat-chip-list-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center !important;
}

.mat-chip {
  font-family: 'Play', sans-serif;
  text-transform: lowercase !important;
}

.mat-primary .mat-chip-selected {
  background-color: lightgreen !important;
}

// MATERIAL CARD

mat-card {
  overflow: initial;
  margin-top: 3em;
}

mat-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  .mat-card-header-text {
    margin: 0;
  }
}

mat-card-content {
  flex: 1;
  position: relative;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: initial;
}

// MATERIAL LIST

.mat-list, .mat-nav-list {
  padding-top: 1em !important;
}

.mat-list-item {
  height: 52px !important;
}

.mat-list-item-content {
  padding: 0 0 0 48px !important;
  height: 52px !important;
}

.mat-sidenav, .mat-sidenav-container {
  background: unset;
}

.mat-sidenav-container {
  color: $font-color
}

// MATERIAL DIALOG
.code-dialog .mat-dialog-container {
  border-radius: 0.6em;
  padding: .6em;
  background-color: mat-color(mat-palette($mat-purple, 300));
}

.mat-slide-toggle .mat-slide-toggle-content {
  font-size: 0.9em;
  font-weight: bold;
}

.copy-tooltip {
  color: mat-color(mat-palette($mat-red));
  background-color: rgba(0,0,0,0.5);
}
