@use '@angular/material' as mat;

$action-color: #e73727;
$output-color: #778DA9;
$font-color: #2E4057;
$box-shadow: 0 3px 10px rgba(black, 0.1);
$sm-box-shadow: 0 1px 4px rgba(black, 0.1);
$code-bg: #fff;
$footer-bg: mat.get-color-from-palette(mat.define-palette(mat.$cyan-palette));
$note-bg:  mat.get-color-from-palette(mat.define-palette(mat.$cyan-palette), 50);
$note-color: mat.get-color-from-palette(mat.define-palette(mat.$cyan-palette));

$dialog-bg: mat.get-color-from-palette(mat.define-palette(mat.$purple-palette));
$menu-shadow: 0 0 6px rgba(0, 0, 0, 0.23);
$api_input:  mat.get-color-from-palette(mat.define-palette(mat.$light-blue-palette), 50);
$api_output:  mat.get-color-from-palette(mat.define-palette(mat.$cyan-palette), 50);
