@import '../assets/style/variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ng-scrollbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  transform: perspective(1000px);
  overflow: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.menu-wrapper {
  width: 280px;
  position: relative;
  nav-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    box-shadow: $menu-shadow;
    z-index: 9999;
  }
}

.menu-fab {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.page-wrapper {
  position: relative;

  height: 100vh;
}
