<section>
  <h2>Notes</h2>
  <ul>
    <li>
      <p>Share button component options:</p>

      <tabs>
        <tab tabTitle="Buttons">
          <highlight [lang]="'ts'" [code]="componentShareButtons"></highlight>
        </tab>
        <tab tabTitle="Link args">
          <highlight [lang]="'ts'" [code]="componentShareLinks"></highlight>
        </tab>
        <tab tabTitle="Options">
          <highlight [lang]="'ts'" [code]="componentContainer"></highlight>
        </tab>
      </tabs>
    </li>

    <li>
      <p>Share button directive options:</p>

      <tabs>
        <tab tabTitle="Buttons">
          <highlight [lang]="'ts'" [code]="directiveShareButtons"></highlight>
        </tab>
        <tab tabTitle="Link args">
          <highlight [lang]="'ts'" [code]="directiveShareLinks"></highlight>
        </tab>
        <tab tabTitle="Options">
          <highlight [lang]="'ts'" [code]="directiveOptions"></highlight>
        </tab>
      </tabs>
    </li>
    <li>
      <p><i class="fa fa-pinterest-p" aria-hidden="true"></i><b>interest</b> button doesn't work without providing <code
      highlight>[image]</code> in share component, or <code highlight>[sb-image]</code> share in directive </p>
    </li>
    <li>
      <p>You can use the share buttons service to set global variables:</p>
      <highlight [code]="globalsCode"></highlight>
      <p><i>however some social media auto-resizes the share window like pinterest</i></p>
    </li>
  </ul>



</section>
