<section>
  <h2>Notes</h2>
  <ul>
    <li>
      <p>All social networks expect your site to have the <a href="http://ogp.me/">Open Graph</a> meta tags</p>

      <p>If you are using a meta tag module such as ngx-meta, ng2-meta, angular meta service ...etc, it will not help
        the social network to recognize the meta tags, because they update them using javascript, and these
        social networks do NOT support javascript execution yet.</p>

      <p>The inputs <code highlight>[title] [description] [image]</code> behave differently for each social
        network, for example in <i>facebook</i> and <i>pinterest</i> they override the meta tags but some other social
        networks only accept the meta tags like <i>google+</i>
        so the ideal solution is to make your app SEO friendly (using a server side rendering, like Universal)</p>
    </li>
    <li>
      <p>Share button component options:</p>

      <tabs>
        <tab tabTitle="Buttons">
          <highlight [lang]="'ts'" [code]="componentShareButtons"></highlight>
        </tab>
        <tab tabTitle="Link args">
          <highlight [lang]="'ts'" [code]="componentShareLinks"></highlight>
        </tab>
        <tab tabTitle="Others">
          <highlight [lang]="'ts'" [code]="componentContainer"></highlight>
        </tab>
      </tabs>
    </li>

    <li>
      <p>Share button directive options:</p>

      <tabs>
        <tab tabTitle="Buttons">
          <highlight [lang]="'ts'" [code]="directiveShareButtons"></highlight>
        </tab>
        <tab tabTitle="Link args">
          <highlight [lang]="'ts'" [code]="directiveShareLinks"></highlight>
        </tab>
        <tab tabTitle="Others">
          <highlight [lang]="'ts'" [code]="directiveOptions"></highlight>
        </tab>
      </tabs>
    </li>
    <li>
      <p><i class="fa fa-pinterest-p" aria-hidden="true"></i><b>interest</b> button doesn't work without providing <code
        highlight>[image]</code> to the component, or <code highlight>[sb-image]</code> if you are using the directive
      </p>
    </li>
    <li>
      <p>You can use the share buttons service to set global variables:</p>
      <highlight [code]="globalsCode"></highlight>
      <p><i>however some social networks auto-resize the share window like pinterest</i></p>
    </li>
  </ul>


</section>
