<ng-scrollbar>
  <header>
    <h1>Share Button Directive</h1>
  </header>

  <div class="page-content container">

    <section>
      <section-title>Overview</section-title>
      <p><code class="hljs">[shareButton]</code> is a directive that converts its host element to a share button.</p>
      <note icon="book">
        This directive comes with <code class="hljs">ngx-sharebuttons</code> <a
        href="https://murhafsousli.github.io/ngx-sharebuttons/core" target="_blank">package</a>.
      </note>
    </section>

    <section>
      <section-title>Installation</section-title>
      <p>Install the following packages</p>

      <h4>NPM</h4>
      <hl-code [code]="code.npm"></hl-code>
    </section>

    <section>
      <section-title>Import the module</section-title>

      <hl-code [code]="code.import"></hl-code>

      <p>The most basic share button needs only the name of the social network. e.g: <code class="hljs">shareButton="twitter"</code>
      </p>

      <code-switcher [code]="code.example1" [fill]="true">
        <div class="example example2">
          <button mat-fab shareButton="facebook" #fbBtn="shareButton" [style.backgroundColor]="fbBtn?.color">
            <fa-icon [icon]="fbBtn?.icon" size="lg" [fixedWidth]="true"></fa-icon>
          </button>
          <button mat-fab shareButton="twitter" #twtBtn="shareButton" [style.backgroundColor]="twtBtn?.color">
            <fa-icon [icon]="twtBtn?.icon" size="lg" [fixedWidth]="true"></fa-icon>
          </button>
          <button mat-fab shareButton="linkedin" #inBtn="shareButton" [style.backgroundColor]="inBtn?.color">
            <fa-icon [icon]="inBtn?.icon" size="lg" [fixedWidth]="true"></fa-icon>
          </button>
          <button mat-fab shareButton="whatsapp" #wBtn="shareButton" [style.backgroundColor]="wBtn?.color">
            <fa-icon [icon]="wBtn?.icon" size="lg" [style.fontSize.px]="16" [fixedWidth]="true"></fa-icon>
          </button>
          <button mat-fab shareButton="telegram" #telBtn="shareButton" [style.backgroundColor]="telBtn?.color">
            <fa-icon [icon]="telBtn?.icon" size="lg" [fixedWidth]="true"></fa-icon>
          </button>
          <button mat-fab shareButton="pinterest" #pinBtn="shareButton" [style.backgroundColor]="pinBtn?.color">
            <fa-icon [icon]="pinBtn?.icon" size="lg" [fixedWidth]="true"></fa-icon>
          </button>
        </div>
      </code-switcher>

      <code-switcher [code]="code.example2" [fill]="true">
        <div class="example example3">
          <button mat-icon-button shareButton="facebook" #fb2Btn="shareButton" [style.color]="fb2Btn?.color">
            <fa-icon [icon]="fb2Btn?.icon" size="lg" [fixedWidth]="true"></fa-icon>
          </button>
          <button mat-icon-button shareButton="twitter" #twt2Btn="shareButton" [style.color]="twt2Btn?.color">
            <fa-icon [icon]="twt2Btn?.icon" size="lg" [fixedWidth]="true"></fa-icon>
          </button>
          <button mat-icon-button shareButton="linkedin" #inBtn="shareButton" [style.color]="inBtn?.color">
            <fa-icon [icon]="inBtn?.icon" size="lg" [fixedWidth]="true"></fa-icon>
          </button>
          <button mat-icon-button shareButton="whatsapp" #w2Btn="shareButton" [style.color]="w2Btn?.color">
            <fa-icon [icon]="w2Btn?.icon" size="lg" [fixedWidth]="true"></fa-icon>
          </button>
          <button mat-icon-button shareButton="telegram" #tel2Btn="shareButton" [style.color]="tel2Btn?.color">
            <fa-icon [icon]="tel2Btn?.icon" size="lg" [fixedWidth]="true"></fa-icon>
          </button>
          <button mat-icon-button shareButton="pinterest" #pinBtn="shareButton" [style.color]="pinBtn?.color">
            <fa-icon [icon]="pinBtn?.icon" size="lg" [fixedWidth]="true"></fa-icon>
          </button>
        </div>
      </code-switcher>

    </section>

    <note>
      By default, the package does not import any icon from FontAwesome, if you wish to use them, See the <a routerLink="/icons">Icons Guide</a>.
    </note>

    <section fxShow fxHide.lt-md="true">
      <section-title>API</section-title>

      <mat-table [dataSource]="dataSource">

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef fxFlex="100px"> Type</mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="100px">
            <mat-chip-list>
              <mat-chip class="property" [class.property-input]="row.type==='input'"> {{ row.type }}</mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef fxFlex="130px"> Name</mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="130px">
            <b>{{row.name}}</b>
          </mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


    </section>

  </div>

  <footer></footer>
</ng-scrollbar>
