<ng-scrollbar>
  <header>
    <h1>Share Button Directive</h1>
  </header>

  <doc-container>
    <section>
      <section-title>Overview</section-title>
      <p><code class="hljs">[shareButton]</code> is a directive that transforms an element into a share button.</p>
      <note icon="book">
        This directive is available through the <code class="hljs">ngx-sharebuttons</code> package.
      </note>
    </section>

    <section>
      <section-title>Installation</section-title>
      <p>Install the following packages</p>

      <h4>NPM</h4>
      <hl-code [code]="'assets/code-examples/install.bash' | codeFromUrl | async"/>
    </section>

    <section>
      <section-title>Basic Usage</section-title>

      <p>The most basic share button needs only the name of the social network. e.g: <code
        class="hljs">shareButton="x"</code>
      </p>

      <hl-code [code]="'assets/code-examples/share-directive/basic-example.ts' | codeFromUrl | async"/>

      <b>Example with icon</b>

      <hl-code [code]="'assets/code-examples/share-directive/standard-example.ts' | codeFromUrl | async"/>

      <code-switcher [code]="'assets/code-examples/share-directive/recommended-example.html' | codeFromUrl | async"
                     [languages]="['html']"
                     fill>
        <div style="display: flex; flex-direction: column; align-items: center; gap: 40px;">
          <div class="example example2">

            <button mat-fab shareButton="facebook" #fbBtn="shareButton" [style.background-color]="fbBtn.color()">
              @if (fbBtn.icon()) {
                <fa-icon [icon]="fbBtn.icon()" size="lg" [fixedWidth]="true"/>
              }
            </button>
            <button mat-fab shareButton="x" #twtBtn="shareButton" [style.background-color]="twtBtn.color()">
              @if (twtBtn.icon()) {
                <fa-icon [icon]="twtBtn.icon()" size="lg" [fixedWidth]="true"/>
              }
            </button>
            <button mat-fab shareButton="linkedin" #in2Btn="shareButton" [style.background-color]="in2Btn.color()">
              @if (in2Btn.icon()) {
                <fa-icon [icon]="in2Btn.icon()" size="lg" [fixedWidth]="true"/>
              }
            </button>
            <button mat-fab shareButton="whatsapp" #w2Btn="shareButton" [style.background-color]="w2Btn.color()">
              @if (w2Btn.icon()) {
                <fa-icon [icon]="w2Btn.icon()" size="lg" [style.font-size.px]="16" [fixedWidth]="true"/>
              }
            </button>
            <button mat-fab shareButton="telegram" #telBtn="shareButton" [style.background-color]="telBtn.color()">
              @if (telBtn.icon()) {
                <fa-icon [icon]="telBtn.icon()" size="lg" [fixedWidth]="true"/>
              }
            </button>
            <button mat-fab shareButton="pinterest" #pinBtn="shareButton" [style.background-color]="pinBtn.color()">
              @if (pinBtn.icon()) {
                <fa-icon [icon]="pinBtn.icon()" size="lg" [fixedWidth]="true"/>
              }
            </button>
          </div>

          <div class="example example4">
            <button mat-mini-fab shareButton="facebook" #fb3Btn="shareButton" [style.background-color]="fb3Btn.color()">
              @if (fb3Btn.icon()) {
                <fa-icon [icon]="fb3Btn.icon()" size="lg" [fixedWidth]="true"/>
              }
            </button>
            <button mat-mini-fab shareButton="x" #twt3Btn="shareButton" [style.background-color]="twt3Btn.color()">
              @if (twt3Btn.icon()) {
                <fa-icon [icon]="twt3Btn.icon()" size="lg" [fixedWidth]="true"/>
              }
            </button>
            <button mat-mini-fab shareButton="linkedin" #in3Btn="shareButton" [style.background-color]="in3Btn.color()">
              @if (in3Btn.icon()) {
                <fa-icon [icon]="in3Btn.icon()" size="lg" [fixedWidth]="true"/>
              }
            </button>
            <button mat-mini-fab shareButton="whatsapp" #w3Btn="shareButton" [style.background-color]="w3Btn.color()">
              @if (w3Btn.icon()) {
                <fa-icon [icon]="w3Btn.icon()" size="lg" [fixedWidth]="true"/>
              }
            </button>
            <button mat-mini-fab shareButton="telegram" #tel3Btn="shareButton"
                    [style.background-color]="tel3Btn.color()">
              @if (tel3Btn.icon()) {
                <fa-icon [icon]="tel3Btn.icon()" size="lg" [fixedWidth]="true"/>
              }
            </button>
            <button mat-mini-fab shareButton="pinterest" #pin3Btn="shareButton"
                    [style.background-color]="pin3Btn.color()">
              @if (pin3Btn.icon()) {
                <fa-icon [icon]="pin3Btn.icon()" size="lg" [fixedWidth]="true"/>
              }
            </button>
          </div>

        </div>
      </code-switcher>

    </section>

    <section>
      <section-title>Important Info</section-title>
      <shared-info/>
    </section>

    <section>
      <section-title>API</section-title>

      <table mat-table [dataSource]="dataSource">

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type</th>
          <td mat-cell *matCellDef="let row">
            <mat-chip-listbox>
              <mat-chip class="property" [class.property-input]="row.type==='input'"> {{ row.type }}</mat-chip>
            </mat-chip-listbox>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let row">
            <b>{{ row.name }}</b>
          </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description</th>
          <td mat-cell *matCellDef="let row"> {{ row.description }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </section>
  </doc-container>
  <footer></footer>
</ng-scrollbar>
