<ng-scrollbar>
  <header>
    <h1>Share Button Directive</h1>
  </header>

  <doc-container>
    <section>
      <section-title>Overview</section-title>
      <p><code class="hljs">[shareButton]</code> is a directive that converts its host element to a share button.</p>
      <note icon="book">
        This directive comes with <code class="hljs">ngx-sharebuttons</code> <a
        href="https://murhafsousli.github.io/ngx-sharebuttons/core" target="_blank">package</a>.
      </note>
    </section>

    <section>
      <section-title>Installation</section-title>
      <p>Install the following packages</p>

      <h4>NPM</h4>
      <hl-code [code]="code.npm" [languages]="['bash']">></hl-code>
    </section>

    <section>
      <section-title>Import the module</section-title>

      <hl-code [code]="code.import"></hl-code>

      <p>The most basic share button needs only the name of the social network. e.g: <code class="hljs">shareButton="twitter"</code>
      </p>

      <code-switcher [code]="code.example1" [fill]="true">
        <div style="display: flex; flex-direction: column; align-items: center; gap: 40px;">
          <div class="example example2">
            <button mat-fab shareButton="facebook" #fbBtn="shareButton" [style.background-color]="fbBtn?.color">
              <fa-icon *ngIf="fbBtn" [icon]="fbBtn.icon" size="lg" [fixedWidth]="true"></fa-icon>
            </button>
            <button mat-fab shareButton="twitter" #twtBtn="shareButton" [style.background-color]="twtBtn?.color">
              <fa-icon *ngIf="twtBtn" [icon]="twtBtn.icon" size="lg" [fixedWidth]="true"></fa-icon>
            </button>
            <button mat-fab shareButton="linkedin" #in2Btn="shareButton" [style.background-color]="in2Btn?.color">
              <fa-icon *ngIf="in2Btn" [icon]="in2Btn.icon" size="lg" [fixedWidth]="true"></fa-icon>
            </button>
            <button mat-fab shareButton="whatsapp" #w2Btn="shareButton" [style.background-color]="w2Btn?.color">
              <fa-icon *ngIf="w2Btn" [icon]="w2Btn.icon" size="lg" [style.font-size.px]="16"
                       [fixedWidth]="true"></fa-icon>
            </button>
            <button mat-fab shareButton="telegram" #telBtn="shareButton" [style.background-color]="telBtn?.color">
              <fa-icon *ngIf="telBtn" [icon]="telBtn.icon" size="lg" [fixedWidth]="true"></fa-icon>
            </button>
            <button mat-fab shareButton="pinterest" #pinBtn="shareButton" [style.background-color]="pinBtn?.color">
              <fa-icon *ngIf="pinBtn" [icon]="pinBtn.icon" size="lg" [fixedWidth]="true"></fa-icon>
            </button>
          </div>
<!--          <div class="example example3">-->
<!--            <button mat-icon-button shareButton="xing" #fb2Btn="shareButton" [style.color]="fb2Btn?.color">-->
<!--              <fa-icon *ngIf="fb2Btn" [icon]="fb2Btn.icon" size="lg" [fixedWidth]="true"></fa-icon>-->
<!--            </button>-->
<!--            <button mat-icon-button shareButton="viber" #twt2Btn="shareButton" [style.color]="twt2Btn?.color">-->
<!--              <fa-icon *ngIf="twt2Btn" [icon]="twt2Btn.icon" size="lg" [fixedWidth]="true"></fa-icon>-->
<!--            </button>-->
<!--            <button mat-icon-button shareButton="line" #inBtn="shareButton" [style.color]="inBtn?.color">-->
<!--              <fa-icon *ngIf="inBtn" [icon]="inBtn.icon" size="lg" [fixedWidth]="true"></fa-icon>-->
<!--            </button>-->
<!--            <button mat-icon-button shareButton="mix" #w2Btn="shareButton" [style.color]="w2Btn?.color">-->
<!--              <fa-icon *ngIf="w2Btn" [icon]="w2Btn.icon" size="lg" [fixedWidth]="true"></fa-icon>-->
<!--            </button>-->
<!--            <button mat-icon-button shareButton="copy" #tel2Btn="shareButton" [style.color]="tel2Btn?.color">-->
<!--              <fa-icon *ngIf="tel2Btn" [icon]="tel2Btn.icon" size="lg" [fixedWidth]="true"></fa-icon>-->
<!--            </button>-->
<!--            <button mat-icon-button shareButton="pinterest" #pin2Btn="shareButton" [style.color]="pin2Btn?.color">-->
<!--              <fa-icon *ngIf="pin2Btn" [icon]="pin2Btn.icon" size="lg" [fixedWidth]="true"></fa-icon>-->
<!--            </button>-->
<!--          </div>-->

          <div class="example example4">
            <button mat-mini-fab shareButton="facebook" #fb3Btn="shareButton" [style.background-color]="fb3Btn?.color">
              <fa-icon *ngIf="fb3Btn" [icon]="fb3Btn.icon" size="lg" [fixedWidth]="true"></fa-icon>
            </button>
            <button mat-mini-fab shareButton="twitter" #twt3Btn="shareButton" [style.background-color]="twt3Btn?.color">
              <fa-icon *ngIf="twt3Btn" [icon]="twt3Btn.icon" size="lg" [fixedWidth]="true"></fa-icon>
            </button>
            <button mat-mini-fab shareButton="linkedin" #in3Btn="shareButton" [style.background-color]="in3Btn?.color">
              <fa-icon *ngIf="in3Btn" [icon]="in3Btn.icon" size="lg" [fixedWidth]="true"></fa-icon>
            </button>
            <button mat-mini-fab shareButton="whatsapp" #w3Btn="shareButton" [style.background-color]="w3Btn?.color">
              <fa-icon *ngIf="w3Btn" [icon]="w3Btn.icon" size="lg" [fixedWidth]="true"></fa-icon>
            </button>
            <button mat-mini-fab shareButton="telegram" #tel3Btn="shareButton"
                    [style.background-color]="tel3Btn?.color">
              <fa-icon *ngIf="tel3Btn" [icon]="tel3Btn.icon" size="lg" [fixedWidth]="true"></fa-icon>
            </button>
            <button mat-mini-fab shareButton="pinterest" #pin3Btn="shareButton" [style.background-color]="pin3Btn?.color">
              <fa-icon *ngIf="pin3Btn" [icon]="pin3Btn.icon" size="lg" [fixedWidth]="true"></fa-icon>
            </button>
          </div>

        </div>
      </code-switcher>

    </section>

    <note>
      By default, the package does not import any icon from FontAwesome, if you wish to use them, See the <a
      routerLink="/icons">Icons Guide</a>.
    </note>

    <section fxShow fxHide.lt-md="true">
      <section-title>Important Info</section-title>
      <shared-info></shared-info>
    </section>

    <section fxShow fxHide.lt-md="true">
      <section-title>API</section-title>

      <mat-table [dataSource]="dataSource">

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-chip-listbox>
              <mat-chip class="property" [class.property-input]="row.type==='input'"> {{ row.type }}</mat-chip>
            </mat-chip-listbox>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <b>{{row.name}}</b>
          </mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


    </section>
  </doc-container>
  <footer></footer>
</ng-scrollbar>
