<ng-scrollbar>
  <header>
    <h1>Popup Share Buttons Component</h1>
  </header>

  <div class="page-content container">

    <section>
      <section-title>Overview</section-title>
      <p>
        <code class="hljs" [textContent]="'<share-popup-button></share-popup-button>'"></code>
        is a button that open share buttons in a popup.
      </p>
      <note icon="book">
        This component comes with <code class="hljs">ngx-sharebuttons/popup</code> <a
        href="https://murhafsousli.github.io/ngx-sharebuttons/buttons" target="_blank">package</a>.
      </note>
    </section>

    <section>
      <section-title>Installation</section-title>
      <p>Install the following packages</p>

      <h4>NPM</h4>
      <hl-code [code]="code.npm"></hl-code>
    </section>

    <section>
      <section-title>Import the styles</section-title>

      <p>Import share buttons theme in the global style
        <b>"app/src/style.scss"</b>
      </p>

      <hl-code [code]="code.styles"></hl-code>

      <note>The default theme is optional, you can replace it with other theme or create your own theme from scratch,
        see the <a routerLink="/styling-guide">styling guide</a></note>

      <note icon="coffee">Don't forget to import the <b>FontAwesome</b> icons, see the <a routerLink="/icons">icons
        guide</a></note>
    </section>

    <section>
      <section-title>Import the module</section-title>

      <hl-code [code]="code.import"></hl-code>

      <code-switcher [code]="code.example" class="center">
        <share-popup-button [show]="11" description="Test me">Share</share-popup-button>
      </code-switcher>
    </section>

    <section fxShow fxHide.lt-md="true">
      <section-title>Lab</section-title>

      <mat-card>
        <mat-card-content>
          <lab component="popup-buttons"></lab>
        </mat-card-content>
      </mat-card>
    </section>

    <section fxShow fxHide.lt-md="true">
      <section-title>API</section-title>

      <mat-table [dataSource]="dataSource">

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef fxFlex="100px"> Type</mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="100px">
            <mat-chip-list>
              <mat-chip class="property" [class.property-input]="row.type==='input'"> {{ row.type }}</mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef fxFlex="100px"> Name</mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="100px">
            <b>{{row.name}}</b>
          </mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </section>

  </div>

  <footer></footer>
</ng-scrollbar>
