@import 'variables';
@import 'style_colors';

share-buttons {
  width: 100%;
}

.sb-style {
  display: inline-flex;
  margin: 1em auto;
  flex-wrap: wrap;

  .sb-button {
    min-width: 60px;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: transparent;
    border-radius: .2em;
    padding: .5em .9em;
    font-size: 1em;
    color: white;
    &:hover {
      transition: all ease 300ms;
    }
  }

  .sb-show-count {
    justify-content: space-around;
    max-width: 6em;
  }

  .sb-template {
    margin: 0 auto;
  }

  .sb-count {
    margin-left: .8em;
    font-size: .75em;
    font-family: Tahoma;
    text-align: center;
    position: relative;
    color: white;
    font-weight: bold;
  }

}

.sb-style-neat {

}

button, a:hover {
  cursor: pointer;
  outline: 0;
  border: 0;
}

.facebook {
  order: 1;
}

.twitter {
  order: 2;
}

.googleplus {
  order: 3;
}

.pinterest {
  order: 5;
}

.linkedin {
  order: 4;
}

.tumblr {
  order: 8;
}

.reddit {
  order: 7;
}

.stumbleupon {
  order: 9;
}

.whatsapp {
  order: 6;
}
