@import 'variables';
@import 'style_colors';

:host {
  font-size: 16px;
}

.sb-buttons {

}

share-buttons {
  width: 100%;
}

.sb-style {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1em 0;

  .sb-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 4em;
    min-width: 3em;
    width: 100%;
    background-color: transparent;
    margin: .5em;
    border-radius: .2em;
    padding: .5em .9em;
    font-size: 1em;
    color: white;
    &:hover {
      transition: all ease 300ms;
    }
  }

  .sb-show-count {
    justify-content: space-around;
    max-width: 6em;
  }

  .sb-template {

  }

  .sb-count {
    margin-left: .8em;
    font-size: .75em;
    font-family: Tahoma;
    text-align: center;
    position: relative;
    color: white;
    font-weight: bold;
  }

}

.sb-style-neat {

}

button, a:hover {
  cursor: pointer;
  outline: 0;
  border: 0;
}

.facebook {
  order: 1;
}

.twitter {
  order: 2;
}

.googleplus {
  order: 3;
}

.pinterest {
  order: 5;
}

.linkedin {
  order: 4;
}

.tumblr {
  order: 8;
}

.reddit {
  order: 7;
}

.stumbleupon {
  order: 9;
}

.whatsapp {
  order: 6;
}
