:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
  flex-wrap: wrap;
  > * {
    margin-bottom: 5px;
    margin-right: 5px;
    height: 20px;
  }

  iframe {
    margin-top: 2px;
  }
}
