<!--GITHUB STAR-->
<a class="github-button" href="https://github.com/MurhafSousli/ng2-sharebuttons" data-icon="octicon-star" data-count-href="/MurhafSousli/ng2-sharebuttons/stargazers"
   data-count-api="/repos/MurhafSousli/ng2-sharebuttons#stargazers_count" data-count-aria-label="# stargazers on GitHub"
   aria-label="Star MurhafSousli/ng2-sharebuttons on GitHub">Star</a>
<!--NPM VERSION-->
<a href="https://www.npmjs.com/package/ng2-sharebuttons">
  <img data-canonical-src="https://www.npmjs.com/package/ng2-sharebuttons" src="https://img.shields.io/npm/v/ng2-sharebuttons.svg?maxAge=2592000?style=plastic">
</a>
<!--TRAVIS BUILD-->
<a href="https://www.npmjs.com/package/ng2-sharebuttons">
  <img data-canonical-src="https://travis-ci.org/MurhafSousli/ng2-sharebuttons" src="https://travis-ci.org/MurhafSousli/ng2-sharebuttons.svg?branch=master">
</a>
<!--TOTAL DOWNLOADS-->
<a href="https://www.npmjs.com/package/ng2-sharebuttons">
  <img data-canonical-src="https://www.npmjs.com/package/ng2-sharebuttons" src="https://img.shields.io/npm/dt/ng2-sharebuttons.svg?maxAge=2592000?style=plastic">
</a>
<!--COVERAGE-->
<a href="https://coveralls.io/github/MurhafSousli/ng2-sharebuttons?branch=master">
  <img src="https://coveralls.io/repos/github/MurhafSousli/ng2-sharebuttons/badge.svg?branch=master" />
</a>
<!--GITTER CHAT-->
<a href="https://gitter.im/ng2-sharebuttons/Lobby">
  <img src="https://badges.gitter.im/ng2-sharebuttons/Lobby.svg" />
</a>
