<ng-scrollbar>
  <header>
    <h1>Icons Guide</h1>
  </header>

  <doc-container>
    <section>
      <section-title>Overview</section-title>
      <p><code class="hljs" [innerText]="'<share-buttons>'"></code> and <code class="hljs"
                                                                              [innerText]="'<share-button>'"></code>
        components rely on <b><a href="https://fontawesome.com">FontAwesome</a></b> to display share buttons icons.
      </p>
      <p>If you want to use another icon library, consider using <code class="hljs">[shareButton]</code> directive instead.</p>
    </section>

    <section>
      <section-title>Usage</section-title>
      <p>You can use the function <code class="hljs">shareIcons</code> inside <code class="hljs">provideShareButtonsOptions</code> to import all share buttons icons.</p>

      <hl-code [code]="'assets/code-examples/icons-guide/icons-guide.ts' | codeFromUrl | async"/>
    </section>

    <section>
      <section-title>Custom FA icons</section-title>
      <p>If you want to import different icon set for the share buttons or if you don't want to import all the share
        icons that comes with <code class="hljs">shareIcons</code> function, you can skip it and import the icons
        manually.</p>
      <p>Let's say you want to use facebook square icon instead of the default one</p>

      <hl-code [code]="'assets/code-examples/icons-guide/custom-icons.ts' | codeFromUrl | async"/>
    </section>
  </doc-container>

  <footer></footer>
</ng-scrollbar>
